<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.CompanyOperateInformationMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.CompanyOperateInformation">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="list_code" property="listCode"/>
        <result column="publish_date" property="publishDate"/>
        <result column="operate_type" property="operateType"/>
        <result column="type_name" property="typeName"/>
        <result column="operate_revenue" property="operateRevenue"/>
        <result column="operate_revenue_rate" property="operateRevenueRate"/>
        <result column="operate_cost" property="operateCost"/>
        <result column="operate_cost_rate" property="operateCostRate"/>
        <result column="operate_profit" property="operateProfit"/>
        <result column="operate_profit_rate" property="operateProfitRate"/>

    </resultMap>

    <select id="getCompanyOperateInformationList" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        i.*
        FROM company_operate_information i
        where i.isvalid = 1
        AND i.list_code = #{listCode}
    </select>

</mapper>