<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.CompanyBaseInformationMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.CompanyBaseInformation">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="company_name" property="companyName"/>
        <result column="company_region" property="companyRegion"/>
        <result column="establish_time" property="establishTime"/>
        <result column="register_money" property="registerMoney"/>
        <result column="company_industry" property="companyIndustry"/>
        <result column="company_industry_detail" property="companyIndustryDetail"/>
        <result column="business_area" property="businessArea"/>

        <result column="list_code" property="listCode"/>
        <result column="list_name" property="listName"/>
        <result column="list_time" property="listTime"/>
        <result column="list_market" property="listMarket"/>
        <result column="list_sector" property="listSector"/>
        <result column="list_number" property="listNumber"/>
        <result column="list_price" property="listPrice"/>
        <result column="list_money" property="listMoney"/>
        <result column="list_order" property="listOrder"/>
        <result column="list_industry" property="listIndustry"/>

        <result column="main_relate_industry" property="mainRelateIndustry"/>
        <result column="vice_relate_industry_one" property="viceRelateIndustryOne"/>
        <result column="vice_relate_industry_two" property="viceRelateIndustryTwo"/>
        <result column="vice_relate_industry_three" property="viceRelateIndustryThree"/>
        <result column="vice_relate_industry_four" property="viceRelateIndustryFour"/>
        <result column="vice_relate_industry_five" property="viceRelateIndustryFive"/>

        <result column="main_produce_product" property="mainProduceProduct"/>
        <result column="vice_produce_product_one" property="viceProduceProductOne"/>
        <result column="vice_produce_product_two" property="viceProduceProductTwo"/>
        <result column="vice_produce_product_three" property="viceProduceProductThree"/>
        <result column="vice_produce_product_four" property="viceProduceProductFour"/>
        <result column="vice_produce_product_five" property="viceProduceProductFive"/>
        <result column="vice_produce_product_six" property="viceProduceProductSix"/>
        <result column="vice_produce_product_seven" property="viceProduceProductSeven"/>
    </resultMap>

    <select id="getCompanyBaseInformationList" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        i.*
        FROM company_base_information i
        where i.isvalid = 1
            <if test="listCode != null and listCode != '' ">
                AND i.list_code REGEXP #{listCode}
            </if>
            <if test="listName != null and listName != '' ">
                AND i.list_name = #{listName}
            </if>
    </select>

</mapper>