<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.EconomyNewsInfluenceMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.EconomyNewsInfluence">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="influence_code" property="influenceCode"/>
        <result column="news_code" property="newsCode"/>
        <result column="influence_scope" property="influenceScope"/>
        <result column="influence_time" property="influenceTime"/>
        <result column="influence_degree" property="influenceDegree"/>
        <result column="influence_content" property="influenceContent"/>
    </resultMap>

</mapper>