<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.InvestForexOperateMapperr">
    <resultMap id="BaseResultMap" type="com.sky.model.InvestForexOperate">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="operate_code" property="operateCode"/>
        <result column="invest_strategy" property="investStrategy"/>
        <result column="currency_pairs" property="currencyPairs"/>
        <result column="time_cycle" property="timeCycle"/>
        <result column="invest_type" property="investType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="line_number" property="lineNumber"/>
        <result column="gain_point" property="gainPoint"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="getInvestForexOperateList" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        i.*
        FROM invest_forex_operate i
        where i.isvalid = 1
        <if test="startDate != null and startDate != '' ">
            AND i.start_time &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != '' ">
            AND i.start_time &lt;= #{endDate}
        </if>
        <if test="investStrategy != null and investStrategy != '' ">
            AND i.invest_strategy = #{investStrategy}
        </if>
        <if test="userId != null and userId != '' ">
            AND i.create_user = #{userId}
        </if>
    </select>
</mapper>