<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.SectorDealDataMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.SectorDealData">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="deal_period" property="dealPeriod"/>
        <result column="deal_time" property="dealTime"/>
        <result column="sector_code" property="sectorCode"/>
        <result column="open_price" property="openPrice"/>
        <result column="close_price" property="closePrice"/>
        <result column="high_price" property="highPrice"/>
        <result column="low_price" property="lowPrice"/>
        <result column="deal_count" property="dealCount"/>
        <result column="deal_money" property="dealMoney"/>
        <result column="amplitude" property="amplitude"/>
        <result column="hand_rate" property="handRate"/>
    </resultMap>

    <select id="getSectorDealCovarList" parameterType="java.lang.String" resultType="com.sky.vo.CovarDeal_VO">
        SELECT
        s.deal_time dealTime ,
        CASE WHEN s.close_price - s.open_price > 0 THEN 1 ELSE -1 END isUpper,
        s.close_price - s.open_price upperPrice ,
        s.high_price - s.low_price sockPrice
        FROM sector_deal_data s
        WHERE s.isvalid = 1
        AND s.sector_code = #{sectorCode}
        <if test="dealPeriod != null and dealPeriod != '' and dealPeriod != 'undefined'">
            AND s.deal_period = #{dealPeriod}
        </if>
        <if test="startDay != null and startDay != '' and startDay != 'undefined'">
            AND s.deal_time >= #{startDay}
        </if>
        <if test="endDay != null and endDay != '' and endDay != 'undefined'">
            AND s.deal_time &lt; #{endDay}
        </if>
    </select>
</mapper>