<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockCompanyValueCompareMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockCompanyValueCompare">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="static_year" property="staticYear"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="sector_code" property="sectorCode"/>
        <result column="sector_name" property="sectorName"/>
        <result column="publish_count" property="publishCount"/>
        <result column="flow_count" property="flowCount"/>
        <result column="publish_value" property="publishValue"/>
        <result column="flow_value" property="flowValue"/>
        <result column="current_price" property="currentPrice"/>
        <result column="company_count" property="companyCount"/>
        <result column="sector_publish_value_average" property="sectorPublishValueAverage"/>
        <result column="sector_publish_value_order" property="sectorPublishValueOrder"/>
        <result column="net_assets" property="netAssets"/>
        <result column="sector_net_assets_average" property="sectorNetAssetsAverage"/>
        <result column="sector_net_assets_order" property="sectorNetAssetsOrder"/>
        <result column="net_profit" property="netProfit"/>
        <result column="sector_net_profit_average" property="sectorNetProfitAverage"/>
        <result column="sector_net_profit_order" property="sectorNetProfitOrder"/>
        <result column="pe_ratio" property="peRatio"/>
        <result column="sector_pe_ratio_average" property="sectorPeRatioAverage"/>
        <result column="sector_pe_ratio_order" property="sectorPeRatioOrder"/>
        <result column="pb_ratio" property="pbRatio"/>
        <result column="sector_pb_ratio_average" property="sectorPbRatioAverage"/>
        <result column="sector_pb_ratio_order" property="sectorPbRatioOrder"/>
        <result column="gross_profit_ratio" property="grossProfitRatio"/>
        <result column="sector_gross_profit_ratio_average" property="sectorGrossProfitRatioAverage"/>
        <result column="sector_gross_profit_ratio_order" property="sectorGrossProfitRatioOrder"/>
        <result column="net_profit_ratio" property="netProfitRatio"/>
        <result column="sector_net_profit_ratio_average" property="sectorNetProfitRatioAverage"/>
        <result column="sector_net_profit_ratio_order" property="sectorNetProfitRatioOrder"/>
        <result column="roe_ratio" property="roeRatio"/>
        <result column="sector_roe_ratio_average" property="sectorRoeRatioAverage"/>
        <result column="sector_roe_ratio_order" property="sectorRoeRatioOrder"/>
        <result column="grow_order" property="growOrder"/>
        <result column="grow_epsg" property="growEpsg"/>
        <result column="sector_grow_epsg_average" property="sectorGrowEpsgAverage"/>
        <result column="sector_grow_epsg_middle" property="sectorGrowEpsgMiddle"/>
        <result column="grow_revinr" property="growRevinr"/>
        <result column="sector_grow_revinr_average" property="sectorGrowRevinrAverage"/>
        <result column="sector_grow_revinr_middle" property="sectorGrowRevinrMiddle"/>
        <result column="grow_npgr" property="growNpgr"/>
        <result column="sector_grow_npgr_average" property="sectorGrowNpgrAverage"/>
        <result column="sector_grow_npgr_middle" property="sectorGrowNpgrMiddle"/>
        <result column="appraise_order" property="appraiseOrder"/>
        <result column="appraise_peg" property="appraisePeg"/>
        <result column="sector_appraise_peg_average" property="sectorAppraisePegAverage"/>
        <result column="sector_appraise_peg_middle" property="sectorAppraisePegMiddle"/>
        <result column="dupont_order" property="dupontOrder"/>
        <result column="dupont_roe" property="dupontRoe"/>
        <result column="sector_dupont_roe_average" property="sectorDupontRoeAverage"/>
        <result column="sector_dupont_roe_middle" property="sectorDupontRoeMiddle"/>
        <result column="dupont_net_profit_ratio" property="dupontNetProfitRatio"/>
        <result column="sector_dupont_net_profit_ratio_average" property="sectorDupontNetProfitRatioAverage"/>
        <result column="sector_dupont_net_profit_ratio_middle" property="sectorDupontNetProfitRatioMiddle"/>
        <result column="dupont_ato" property="dupontAto"/>
        <result column="sector_dupont_ato_average" property="sectorDupontAtoAverage"/>
        <result column="sector_dupont_ato_middle" property="sectorDupontAtoMiddle"/>
        <result column="dupont_em" property="dupontEm"/>
        <result column="sector_dupont_em_average" property="sectorDupontEmAverage"/>
        <result column="sector_dupont_em_middle" property="sectorDupontEmMiddle"/>
        <result column="scale_order" property="scaleOrder"/>
        <result column="total_market_value" property="totalMarketValue"/>
        <result column="total_market_value_average" property="totalMarketValueAverage"/>
        <result column="total_market_value_middle" property="totalMarketValueMiddle"/>
        <result column="flow_market_value" property="flowMarketValue"/>
        <result column="flow_market_value_average" property="flowMarketValueAverage"/>
        <result column="flow_market_value_middle" property="flowMarketValueMiddle"/>
        <result column="business_total_profit" property="businessTotalProfit"/>
        <result column="business_total_profit_average" property="businessTotalProfitAverage"/>
        <result column="business_total_profit_middle" property="businessTotalProfitMiddle"/>
        <result column="business_net_profit" property="businessNetProfit"/>
        <result column="business_net_profit_average" property="businessNetProfitAverage"/>
        <result column="business_net_profit_middle" property="businessNetProfitMiddle"/>
        <result column="business_product" property="businessProduct"/>
    </resultMap>

</mapper>