<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockRiseRateMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockRiseRate">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="deal_period" property="dealPeriod"/>
        <result column="point_year" property="pointYear"/>
        <result column="point_month" property="pointMonth"/>
        <result column="point_week" property="pointWeek"/>
        <result column="point_day" property="pointDay"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="stock_code" property="stock_code"/>

        <result column="one_rise" property="oneRise"/>
        <result column="tow_rise" property="towRise"/>
        <result column="three_rise" property="threeRise"/>
        <result column="four_rise" property="fourRise"/>
        <result column="five_rise" property="fiveRise"/>
        <result column="six_rise" property="sixRise"/>
        <result column="seven_rise" property="sevenRise"/>
        <result column="eight_rise" property="eightRise"/>
        <result column="nine_rise" property="nineRise"/>
        <result column="ten_rise" property="tenRise"/>
        <result column="eleven_rise" property="elevenRise"/>
        <result column="twelve_rise" property="twelveRise"/>

        <result column="one_amplitude" property="oneAmplitude"/>
        <result column="tow_amplitude" property="towAmplitude"/>
        <result column="three_amplitude" property="threeAmplitude"/>
        <result column="four_amplitude" property="fourAmplitude"/>
        <result column="five_amplitude" property="fiveAmplitude"/>
        <result column="six_amplitude" property="sixAmplitude"/>
        <result column="seven_amplitude" property="sevenAmplitude"/>
        <result column="eight_amplitude" property="eightAmplitude"/>
        <result column="nine_amplitude" property="nineAmplitude"/>
        <result column="ten_amplitude" property="tenAmplitude"/>
        <result column="eleven_amplitude" property="elevenAmplitude"/>
        <result column="twelve_amplitude" property="twelveAmplitude"/>

        <result column="one_shock" property="oneShock"/>
        <result column="tow_shock" property="towShock"/>
        <result column="three_shock" property="threeShock"/>
        <result column="four_shock" property="fourShock"/>
        <result column="five_shock" property="fiveShock"/>
        <result column="six_shock" property="sixShock"/>
        <result column="seven_shock" property="sevenShock"/>
        <result column="eight_shock" property="eightShock"/>
        <result column="nine_shock" property="nineShock"/>
        <result column="ten_shock" property="tenShock"/>
        <result column="eleven_shock" property="elevenShock"/>
        <result column="twelve_shock" property="twelveShock"/>
    </resultMap>

    <select id="getStaticSectorNum" parameterType="java.lang.String" resultType="com.sky.vo.StaticSectorNum_VO">
        SELECT
        s.`first_sector` firstSector,
        s.`second_sector` secondSector,
        s.`third_secotor` thirdSecotor,
        s.`forth_sector` forthSector,
        SUM(1) sectorNum
        FROM stock_rise_rate r
        LEFT JOIN stock_company_sector s ON r.`stock_code` = s.`stock_code`
        WHERE r.`deal_period` = 3
        AND s.`stock_name` NOT REGEXP 'ST'
        AND s.`publish_time` &lt;=  #{staticDate}
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '1'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`one_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`one_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '2'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`tow_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`tow_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '3'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`three_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`three_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '4'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`four_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`four_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '5'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`five_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`five_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '6'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`six_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`six_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '7'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`seven_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`seven_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '8'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`eight_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`eight_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '9'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`nine_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`nine_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '10'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`ten_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`ten_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '11'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`eleven_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`eleven_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '12'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`twelve_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`twelve_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="sectorType != null and sectorType != '' and sectorType != 'undefined' and sectorType == '1'.toString()">
            GROUP BY s.`first_sector`
        </if>
        <if test="sectorType != null and sectorType != '' and sectorType != 'undefined' and sectorType == '2'.toString()">
            AND s.`first_sector` = #{firstSector}
            GROUP BY s.`second_sector`
        </if>
        <if test="sectorType != null and sectorType != '' and sectorType != 'undefined' and sectorType == '3'.toString()">
            AND s.`second_sector` = #{secondSector}
            GROUP BY s.`third_secotor`
        </if>
        <if test="sectorType != null and sectorType != '' and sectorType != 'undefined' and sectorType == '4'.toString()">
            AND s.`third_secotor` = #{thirdSecotor}
            GROUP BY s.`forth_sector`
        </if>
    </select>


    <select id="getPointMonthStockList" parameterType="java.lang.String" resultType="com.sky.vo.PointMonthStock_VO">
        SELECT
        a.forthSector ,
        a.stockCode ,
        a.stockName ,
        CONCAT(
        CASE WHEN a.ZHONG = 6 THEN 'S'
             WHEN a.ZHONG = 5 THEN 'A'
             WHEN a.ZHONG = 4 THEN 'B'
             WHEN a.ZHONG = 3 THEN 'C'
             WHEN a.ZHONG = 2 THEN 'D'
             WHEN a.ZHONG = 1 THEN 'E'
             END,
        CASE WHEN a.SHANG = 6 THEN 'S'
             WHEN a.SHANG = 5 THEN 'A'
             WHEN a.SHANG = 4 THEN 'B'
             WHEN a.SHANG = 3 THEN 'C'
             WHEN a.SHANG = 2 THEN 'D'
             WHEN a.SHANG = 1 THEN 'E'
             END,
        CASE WHEN a.ZHONG_i = 6 THEN 'S'
             WHEN a.ZHONG_i = 5 THEN 'A'
             WHEN a.ZHONG_i = 4 THEN 'B'
             WHEN a.ZHONG_i = 3 THEN 'C'
             WHEN a.ZHONG_i = 2 THEN 'D'
             WHEN a.ZHONG_i = 1 THEN 'E'
             END,
        CASE WHEN a.SHANG_i = 6 THEN 'S'
             WHEN a.SHANG_i = 5 THEN 'A'
             WHEN a.SHANG_i = 4 THEN 'B'
             WHEN a.SHANG_i = 3 THEN 'C'
             WHEN a.SHANG_i = 2 THEN 'D'
             WHEN a.SHANG_i = 1 THEN 'E'
             END
        ) companyLevel,
        CONCAT(
        CASE WHEN a.profit_score >= 80 THEN 'S'
             WHEN a.profit_score >= 70 AND a.profit_score &lt; 80 THEN 'A'
             WHEN a.profit_score >= 60 AND a.profit_score &lt; 70 THEN 'B'
             WHEN a.profit_score >= 50 AND a.profit_score &lt; 60 THEN 'C'
             WHEN a.profit_score >= 40 AND a.profit_score &lt; 50 THEN 'D'
             WHEN a.profit_score >= 30 AND a.profit_score &lt; 40 THEN 'E'
             ELSE 'F'
             END,
        CASE WHEN a.profit_grow_score >= 80 THEN 'S'
             WHEN a.profit_grow_score >= 70 AND a.profit_grow_score &lt; 80 THEN 'A'
             WHEN a.profit_grow_score >= 60 AND a.profit_grow_score &lt; 70 THEN 'B'
             WHEN a.profit_grow_score >= 50 AND a.profit_grow_score &lt; 60 THEN 'C'
             WHEN a.profit_grow_score >= 40 AND a.profit_grow_score &lt; 50 THEN 'D'
             WHEN a.profit_grow_score >= 30 AND a.profit_grow_score &lt; 40 THEN 'E'
             ELSE 'F'
             END,
        CASE WHEN a.asset_score >= 80 THEN 'S'
             WHEN a.asset_score >= 70 AND a.asset_score &lt; 80 THEN 'A'
             WHEN a.asset_score >= 60 AND a.asset_score &lt; 70 THEN 'B'
             WHEN a.asset_score >= 50 AND a.asset_score &lt; 60 THEN 'C'
             WHEN a.asset_score >= 40 AND a.asset_score &lt; 50 THEN 'D'
             WHEN a.asset_score >= 30 AND a.asset_score &lt; 40 THEN 'E'
             ELSE 'F'
             END,
        CASE WHEN a.asset_grow_score >= 80 THEN 'S'
             WHEN a.asset_grow_score >= 70 AND a.asset_grow_score &lt; 80 THEN 'A'
             WHEN a.asset_grow_score >= 60 AND a.asset_grow_score &lt; 70 THEN 'B'
             WHEN a.asset_grow_score >= 50 AND a.asset_grow_score &lt; 60 THEN 'C'
             WHEN a.asset_grow_score >= 40 AND a.asset_grow_score &lt; 50 THEN 'D'
             WHEN a.asset_grow_score >= 30 AND a.asset_grow_score &lt; 40 THEN 'E'
             ELSE 'F'
             END
        ) financialLevel,
        a.companyName ,
        a.publishTime ,
        a.oneRise,
        a.oneAmplitude,
        a.oneShock,
        a.towRise,
        a.towAmplitude,
        a.towShock,
        a.threeRise,
        a.threeAmplitude,
        a.threeShock,
        a.fourRise,
        a.fourAmplitude,
        a.fourShock,
        a.fiveRise,
        a.fiveAmplitude,
        a.fiveShock,
        a.sixRise,
        a.sixAmplitude,
        a.sixShock,
        a.sevenRise,
        a.sevenAmplitude,
        a.sevenShock,
        a.eightRise,
        a.eightAmplitude,
        a.eightShock,
        a.nineRise,
        a.nineAmplitude,
        a.nineShock,
        a.tenRise,
        a.tenAmplitude,
        a.tenShock,
        a.elevenRise,
        a.elevenAmplitude,
        a.elevenShock,
        a.twelveRise,
        a.twelveAmplitude,
        a.twelveShock ,

        a.oneWeekRise,
        a.oneWeekAmplitude,
        a.oneWeekShock,
        a.towWeekRise,
        a.towWeekAmplitude,
        a.towWeekShock,
        a.threeWeekRise,
        a.threeWeekAmplitude,
        a.threeWeekShock,
        a.fourWeekRise,
        a.fourWeekAmplitude,
        a.fourWeekShock,
        a.fiveWeekRise,
        a.fiveWeekAmplitude,
        a.fiveWeekShock
        FROM(
        SELECT
        s.`forth_sector` forthSector,
        s.`stock_code` stockCode,
        s.`stock_name` stockName,
        s.`publish_time` publishTime,
        MAX(s.`profit_score`) profit_score,
        MAX(s.`profit_grow_score`) profit_grow_score,
        MAX(s.`asset_score`) asset_score,
        MAX(s.`asset_grow_score`) asset_grow_score,
        MAX(CASE WHEN i.index_name = '中证超大' THEN '6'
             WHEN i.index_name = '中证100'  THEN '5'
             WHEN i.index_name = '中证200'  THEN '4'
             WHEN i.index_name = '中证500'  THEN '3'
             WHEN i.index_name = '中证1000'  THEN '2'
             WHEN i.index_name NOT REGEXP '中证超大|中证100|中证200|中证500|中证1000'  THEN '1'
             END) AS ZHONG,
        MAX(CASE WHEN i.index_name = '上证50' THEN '6'
             WHEN i.index_name = '上证180' AND i.index_name != '上证50'  THEN '5'
             WHEN i.index_name = '上证100'  THEN '4'
             WHEN i.index_name = '上证380' AND i.index_name != '上证100'  THEN '3'
             WHEN i.index_name = '上证150'  THEN '2'
             WHEN i.index_name NOT REGEXP '上证50|上证180|上证100|上证380|上证150'  THEN '1'
             END) AS SHANG,
        MAX(CASE WHEN i.index_name = 'CX基石' THEN '6'
             WHEN i.index_name = '中证龙头'  THEN '5'
             WHEN i.index_name REGEXP '价值'  THEN '4'
             WHEN i.index_name REGEXP '成长'  THEN '3'
             WHEN i.index_name NOT REGEXP 'CX基石|中证龙头|价值|成长'  THEN '1'
             END) AS ZHONG_i,
        MAX(CASE WHEN i.index_name = '超大盘'   THEN '6'
             WHEN i.index_name = '上证龙头' THEN '5'
             WHEN i.index_name = '上证中盘' THEN '4'
             WHEN i.index_name = '上证小盘' THEN '3'
             WHEN i.index_name NOT REGEXP '超大盘|上证龙头|上证中盘|上证小盘'  THEN '1'
             END) AS SHANG_i,
        REPLACE(s.`company_name`, '股份有限公司', '') companyName,
        r.`one_rise` oneRise,
        r.`one_amplitude` oneAmplitude,
        r.`one_shock` oneShock,
        r.`tow_rise` towRise,
        r.`tow_amplitude` towAmplitude,
        r.`tow_shock` towShock,
        r.`three_rise` threeRise,
        r.`three_amplitude` threeAmplitude,
        r.`three_shock` threeShock,
        r.`four_rise` fourRise,
        r.`four_amplitude` fourAmplitude,
        r.`four_shock` fourShock,
        r.`five_rise` fiveRise,
        r.`five_amplitude` fiveAmplitude,
        r.`five_shock` fiveShock,
        r.`six_rise` sixRise,
        r.`six_amplitude` sixAmplitude,
        r.`six_shock` sixShock,
        r.`seven_rise` sevenRise,
        r.`seven_amplitude` sevenAmplitude,
        r.`seven_shock` sevenShock,
        r.`eight_rise` eightRise,
        r.`eight_amplitude` eightAmplitude,
        r.`eight_shock` eightShock,
        r.`nine_rise` nineRise,
        r.`nine_amplitude` nineAmplitude,
        r.`nine_shock` nineShock,
        r.`ten_rise` tenRise,
        r.`ten_amplitude` tenAmplitude,
        r.`ten_shock` tenShock,
        r.`eleven_rise` elevenRise,
        r.`eleven_amplitude` elevenAmplitude,
        r.`eleven_shock` elevenShock,
        r.`twelve_rise` twelveRise,
        r.`twelve_amplitude` twelveAmplitude,
        r.`twelve_shock` twelveShock,

        w.`one_rise` oneWeekRise,
        w.`one_amplitude` oneWeekAmplitude,
        w.`one_shock` oneWeekShock,
        w.`tow_rise` towWeekRise,
        w.`tow_amplitude` towWeekAmplitude,
        w.`tow_shock` towWeekShock,
        w.`three_rise` threeWeekRise,
        w.`three_amplitude` threeWeekAmplitude,
        w.`three_shock` threeWeekShock,
        w.`four_rise` fourWeekRise,
        w.`four_amplitude` fourWeekAmplitude,
        w.`four_shock` fourWeekShock,
        w.`five_rise` fiveWeekRise,
        w.`five_amplitude` fiveWeekAmplitude,
        w.`five_shock` fiveWeekShock
        FROM stock_rise_rate r
        LEFT JOIN stock_company_sector s ON r.`stock_code` = s.`stock_code`
        LEFT JOIN stock_index_constituent i ON s.`stock_code` = i.`stock_code`
        LEFT JOIN stock_rise_rate w ON r.`stock_code` = w.`stock_code` AND w.`deal_period` = 2 AND w.`point_month` = #{staticMonth}
        WHERE r.`deal_period` = 3
        AND s.`publish_time` &lt;= #{staticDate}
        AND s.`stock_name` NOT REGEXP 'ST'
        <if test="firstSector != null and firstSector != '' and firstSector != 'undefined'">
            AND s.first_sector = #{firstSector}
        </if>
        <if test="secondSector != null and secondSector != '' and secondSector != 'undefined'">
            AND s.second_sector = #{secondSector}
        </if>
        <if test="thirdSecotor != null and thirdSecotor != '' and thirdSecotor != 'undefined'">
            AND s.third_secotor = #{thirdSecotor}
        </if>
        <if test="forthSector != null and forthSector != '' and forthSector != 'undefined'">
            AND s.forth_sector = #{forthSector}
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '1'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`one_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`one_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '2'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`tow_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`tow_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '3'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`three_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`three_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '4'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`four_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`four_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '5'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`five_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`five_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '6'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`six_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`six_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '7'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`seven_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`seven_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '8'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`eight_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`eight_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '9'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`nine_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`nine_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '10'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`ten_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`ten_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '11'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`eleven_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`eleven_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '12'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`twelve_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`twelve_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        GROUP BY s.`stock_code`
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '1'.toString()">
            ORDER BY r.`one_rise` DESC  , r.`one_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '2'.toString()">
            ORDER BY r.`tow_rise` DESC  , r.`tow_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '3'.toString()">
            ORDER BY r.`three_rise` DESC  , r.`three_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '4'.toString()">
            ORDER BY r.`four_rise` DESC  , r.`four_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '5'.toString()">
            ORDER BY r.`five_rise` DESC  , r.`five_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '6'.toString()">
            ORDER BY r.`six_rise` DESC  , r.`six_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '7'.toString()">
            ORDER BY r.`seven_rise` DESC  , r.`seven_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '8'.toString()">
            ORDER BY r.`eight_rise` DESC  , r.`eight_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '9'.toString()">
            ORDER BY r.`nine_rise` DESC  , r.`nine_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '10'.toString()">
            ORDER BY r.`ten_rise` DESC  , r.`ten_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '11'.toString()">
            ORDER BY r.`eleven_rise` DESC  , r.`eleven_amplitude` DESC
        </if>
        <if test="staticMonth != null and staticMonth != '' and staticMonth != 'undefined' and staticMonth == '12'.toString()">
            ORDER BY r.`twelve_rise` DESC  , r.`twelve_amplitude` DESC
        </if>
        ) a
    </select>

    <select id="getPointWeekStockList" parameterType="java.lang.String" resultType="com.sky.vo.PointMonthStock_VO">
        SELECT
        a.forthSector ,
        a.stockCode ,
        a.stockName ,
        CONCAT(
        CASE WHEN a.ZHONG = 6 THEN 'S'
             WHEN a.ZHONG = 5 THEN 'A'
             WHEN a.ZHONG = 4 THEN 'B'
             WHEN a.ZHONG = 3 THEN 'C'
             WHEN a.ZHONG = 2 THEN 'D'
             WHEN a.ZHONG = 1 THEN 'E'
             END,
        CASE WHEN a.SHANG = 6 THEN 'S'
             WHEN a.SHANG = 5 THEN 'A'
             WHEN a.SHANG = 4 THEN 'B'
             WHEN a.SHANG = 3 THEN 'C'
             WHEN a.SHANG = 2 THEN 'D'
             WHEN a.SHANG = 1 THEN 'E'
             END,
        CASE WHEN a.ZHONG_i = 6 THEN 'S'
             WHEN a.ZHONG_i = 5 THEN 'A'
             WHEN a.ZHONG_i = 4 THEN 'B'
             WHEN a.ZHONG_i = 3 THEN 'C'
             WHEN a.ZHONG_i = 2 THEN 'D'
             WHEN a.ZHONG_i = 1 THEN 'E'
             END,
        CASE WHEN a.SHANG_i = 6 THEN 'S'
             WHEN a.SHANG_i = 5 THEN 'A'
             WHEN a.SHANG_i = 4 THEN 'B'
             WHEN a.SHANG_i = 3 THEN 'C'
             WHEN a.SHANG_i = 2 THEN 'D'
             WHEN a.SHANG_i = 1 THEN 'E'
             END
        ) companyLevel,
        CONCAT(
        CASE WHEN a.profit_score >= 80 THEN 'S'
             WHEN a.profit_score >= 70 AND a.profit_score &lt; 80 THEN 'A'
             WHEN a.profit_score >= 60 AND a.profit_score &lt; 70 THEN 'B'
             WHEN a.profit_score >= 50 AND a.profit_score &lt; 60 THEN 'C'
             WHEN a.profit_score >= 40 AND a.profit_score &lt; 50 THEN 'D'
             WHEN a.profit_score >= 30 AND a.profit_score &lt; 40 THEN 'E'
             ELSE 'F'
             END,
        CASE WHEN a.profit_grow_score >= 80 THEN 'S'
             WHEN a.profit_grow_score >= 70 AND a.profit_grow_score &lt; 80 THEN 'A'
             WHEN a.profit_grow_score >= 60 AND a.profit_grow_score &lt; 70 THEN 'B'
             WHEN a.profit_grow_score >= 50 AND a.profit_grow_score &lt; 60 THEN 'C'
             WHEN a.profit_grow_score >= 40 AND a.profit_grow_score &lt; 50 THEN 'D'
             WHEN a.profit_grow_score >= 30 AND a.profit_grow_score &lt; 40 THEN 'E'
             ELSE 'F'
             END,
        CASE WHEN a.asset_score >= 80 THEN 'S'
             WHEN a.asset_score >= 70 AND a.asset_score &lt; 80 THEN 'A'
             WHEN a.asset_score >= 60 AND a.asset_score &lt; 70 THEN 'B'
             WHEN a.asset_score >= 50 AND a.asset_score &lt; 60 THEN 'C'
             WHEN a.asset_score >= 40 AND a.asset_score &lt; 50 THEN 'D'
             WHEN a.asset_score >= 30 AND a.asset_score &lt; 40 THEN 'E'
             ELSE 'F'
             END,
        CASE WHEN a.asset_grow_score >= 80 THEN 'S'
             WHEN a.asset_grow_score >= 70 AND a.asset_grow_score &lt; 80 THEN 'A'
             WHEN a.asset_grow_score >= 60 AND a.asset_grow_score &lt; 70 THEN 'B'
             WHEN a.asset_grow_score >= 50 AND a.asset_grow_score &lt; 60 THEN 'C'
             WHEN a.asset_grow_score >= 40 AND a.asset_grow_score &lt; 50 THEN 'D'
             WHEN a.asset_grow_score >= 30 AND a.asset_grow_score &lt; 40 THEN 'E'
             ELSE 'F'
             END
        ) financialLevel,
        a.companyName ,
        a.publishTime ,
        a.oneRise,
        a.oneAmplitude,
        a.oneShock,
        a.towRise,
        a.towAmplitude,
        a.towShock,
        a.threeRise,
        a.threeAmplitude,
        a.threeShock,
        a.fourRise,
        a.fourAmplitude,
        a.fourShock,
        a.fiveRise,
        a.fiveAmplitude,
        a.fiveShock,
        a.sixRise,
        a.sixAmplitude,
        a.sixShock,
        a.sevenRise,
        a.sevenAmplitude,
        a.sevenShock,
        a.eightRise,
        a.eightAmplitude,
        a.eightShock,
        a.nineRise,
        a.nineAmplitude,
        a.nineShock,
        a.tenRise,
        a.tenAmplitude,
        a.tenShock,
        a.elevenRise,
        a.elevenAmplitude,
        a.elevenShock,
        a.twelveRise,
        a.twelveAmplitude,
        a.twelveShock ,

        a.oneWeekRise,
        a.oneWeekAmplitude,
        a.oneWeekShock,
        a.towWeekRise,
        a.towWeekAmplitude,
        a.towWeekShock,
        a.threeWeekRise,
        a.threeWeekAmplitude,
        a.threeWeekShock,
        a.fourWeekRise,
        a.fourWeekAmplitude,
        a.fourWeekShock,
        a.fiveWeekRise,
        a.fiveWeekAmplitude,
        a.fiveWeekShock ,

        a.oneDayRise,
        a.oneDayAmplitude,
        a.oneDayShock,
        a.towDayRise,
        a.towDayAmplitude,
        a.towDayShock,
        a.threeDayRise,
        a.threeDayAmplitude,
        a.threeDayShock,
        a.fourDayRise,
        a.fourDayAmplitude,
        a.fourDayShock,
        a.fiveDayRise,
        a.fiveDayAmplitude,
        a.fiveDayShock
        FROM(
        SELECT
        s.`forth_sector` forthSector,
        s.`stock_code` stockCode,
        s.`stock_name` stockName,
        s.`publish_time` publishTime,
        MAX(s.`profit_score`) profit_score,
        MAX(s.`profit_grow_score`) profit_grow_score,
        MAX(s.`asset_score`) asset_score,
        MAX(s.`asset_grow_score`) asset_grow_score,
        MAX(CASE WHEN i.index_name = '中证超大' THEN '6'
             WHEN i.index_name = '中证100'  THEN '5'
             WHEN i.index_name = '中证200'  THEN '4'
             WHEN i.index_name = '中证500'  THEN '3'
             WHEN i.index_name = '中证1000'  THEN '2'
             WHEN i.index_name NOT REGEXP '中证超大|中证100|中证200|中证500|中证1000'  THEN '1'
             END) AS ZHONG,
        MAX(CASE WHEN i.index_name = '上证50' THEN '6'
             WHEN i.index_name = '上证180' AND i.index_name != '上证50'  THEN '5'
             WHEN i.index_name = '上证100'  THEN '4'
             WHEN i.index_name = '上证380' AND i.index_name != '上证100'  THEN '3'
             WHEN i.index_name = '上证150'  THEN '2'
             WHEN i.index_name NOT REGEXP '上证50|上证180|上证100|上证380|上证150'  THEN '1'
             END) AS SHANG,
        MAX(CASE WHEN i.index_name = 'CX基石' THEN '6'
             WHEN i.index_name = '中证龙头'  THEN '5'
             WHEN i.index_name REGEXP '价值'  THEN '4'
             WHEN i.index_name REGEXP '成长'  THEN '3'
             WHEN i.index_name NOT REGEXP 'CX基石|中证龙头|价值|成长'  THEN '1'
             END) AS ZHONG_i,
        MAX(CASE WHEN i.index_name = '超大盘'   THEN '6'
             WHEN i.index_name = '上证龙头' THEN '5'
             WHEN i.index_name = '上证中盘' THEN '4'
             WHEN i.index_name = '上证小盘' THEN '3'
             WHEN i.index_name NOT REGEXP '超大盘|上证龙头|上证中盘|上证小盘'  THEN '1'
             END) AS SHANG_i,
        REPLACE(s.`company_name`, '股份有限公司', '') companyName,
        m.`one_rise` oneRise,
        m.`one_amplitude` oneAmplitude,
        m.`one_shock` oneShock,
        m.`tow_rise` towRise,
        m.`tow_amplitude` towAmplitude,
        m.`tow_shock` towShock,
        m.`three_rise` threeRise,
        m.`three_amplitude` threeAmplitude,
        m.`three_shock` threeShock,
        m.`four_rise` fourRise,
        m.`four_amplitude` fourAmplitude,
        m.`four_shock` fourShock,
        m.`five_rise` fiveRise,
        m.`five_amplitude` fiveAmplitude,
        m.`five_shock` fiveShock,
        m.`six_rise` sixRise,
        m.`six_amplitude` sixAmplitude,
        m.`six_shock` sixShock,
        m.`seven_rise` sevenRise,
        m.`seven_amplitude` sevenAmplitude,
        m.`seven_shock` sevenShock,
        m.`eight_rise` eightRise,
        m.`eight_amplitude` eightAmplitude,
        m.`eight_shock` eightShock,
        m.`nine_rise` nineRise,
        m.`nine_amplitude` nineAmplitude,
        m.`nine_shock` nineShock,
        m.`ten_rise` tenRise,
        m.`ten_amplitude` tenAmplitude,
        m.`ten_shock` tenShock,
        m.`eleven_rise` elevenRise,
        m.`eleven_amplitude` elevenAmplitude,
        m.`eleven_shock` elevenShock,
        m.`twelve_rise` twelveRise,
        m.`twelve_amplitude` twelveAmplitude,
        m.`twelve_shock` twelveShock ,

        r.`one_rise` oneWeekRise,
        r.`one_amplitude` oneWeekAmplitude,
        r.`one_shock` oneWeekShock,
        r.`tow_rise` towWeekRise,
        r.`tow_amplitude` towWeekAmplitude,
        r.`tow_shock` towWeekShock,
        r.`three_rise` threeWeekRise,
        r.`three_amplitude` threeWeekAmplitude,
        r.`three_shock` threeWeekShock,
        r.`four_rise` fourWeekRise,
        r.`four_amplitude` fourWeekAmplitude,
        r.`four_shock` fourWeekShock,
        r.`five_rise` fiveWeekRise,
        r.`five_amplitude` fiveWeekAmplitude,
        r.`five_shock` fiveWeekShock ,

        d.`one_rise` oneDayRise,
        d.`one_amplitude` oneDayAmplitude,
        d.`one_shock` oneDayShock,
        d.`tow_rise` towDayRise,
        d.`tow_amplitude` towDayAmplitude,
        d.`tow_shock` towDayShock,
        d.`three_rise` threeDayRise,
        d.`three_amplitude` threeDayAmplitude,
        d.`three_shock` threeDayShock,
        d.`four_rise` fourDayRise,
        d.`four_amplitude` fourDayAmplitude,
        d.`four_shock` fourDayShock,
        d.`five_rise` fiveDayRise,
        d.`five_amplitude` fiveDayAmplitude,
        d.`five_shock` fiveDayShock
        FROM stock_rise_rate r
        LEFT JOIN stock_company_sector s ON r.`stock_code` = s.`stock_code`
        LEFT JOIN stock_index_constituent i ON s.`stock_code` = i.`stock_code`
        LEFT JOIN stock_rise_rate m ON m.`stock_code` = r.`stock_code` AND m.`deal_period` = 3
        LEFT JOIN stock_rise_rate d ON d.`stock_code` = r.`stock_code` AND d.`deal_period` = 1 AND d.`point_month` = r.`point_month` AND d.`point_week` = #{staticWeek}
        WHERE r.`deal_period` = 2
        AND s.`publish_time` &lt;= #{staticDate}
        AND s.`stock_name` NOT REGEXP 'ST'
        AND r.`point_month` = #{staticMonth}
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '1'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`one_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`one_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '2'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`tow_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`tow_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '3'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`three_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`three_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '4'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`four_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`four_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '5'.toString()">
            <if test="staticRate != null and staticRate != '' and staticRate != 'undefined'">
                AND r.`five_rise` >= #{staticRate}
            </if>
            <if test="staticAmplitude != null and staticAmplitude != '' and staticAmplitude != 'undefined'">
                AND r.`five_amplitude` >= #{staticAmplitude}
            </if>
        </if>
        GROUP BY r.`stock_code`
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '1'.toString()">
            ORDER BY r.`one_rise` DESC  , r.`one_amplitude` DESC
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '2'.toString()">
            ORDER BY r.`tow_rise` DESC  , r.`tow_amplitude` DESC
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '3'.toString()">
            ORDER BY r.`three_rise` DESC  , r.`three_amplitude` DESC
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '4'.toString()">
            ORDER BY r.`four_rise` DESC  , r.`four_amplitude` DESC
        </if>
        <if test="staticWeek != null and staticWeek != '' and staticWeek != 'undefined' and staticWeek == '5'.toString()">
            ORDER BY r.`five_rise` DESC  , r.`five_amplitude` DESC
        </if>
        ) a
    </select>
</mapper>