<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockCompanySectorMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockCompanySector">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="first_sector" property="firstSector"/>
        <result column="second_sector" property="secondSector"/>
        <result column="third_secotor" property="thirdSecotor"/>
        <result column="forth_sector" property="forthSector"/>
        <result column="five_sector" property="fiveSector"/>
        <result column="five_order" property="fiveOrder"/>
        <result column="company_level" property="companyLevel"/>
        <result column="main_business" property="mainBusiness"/>
        <result column="company_intr" property="companyIntr"/>
        <result column="company_product" property="companyProduct"/>
        <result column="profit_score" property="profitScore"/>
        <result column="asset_score" property="assetScore"/>
        <result column="profit_grow_score" property="profitGrowScore"/>
        <result column="asset_grow_score" property="assetGrowScore"/>
        <result column="flow_score" property="flowScore"/>
        <result column="build_time" property="buildTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="company_website" property="companyWebsite"/>
        <result column="company_quality" property="companyQuality"/>

        <result column="belong_first_secotr" property="belongFirstSecotr"/>
        <result column="belong_second_sector" property="belongSecondSector"/>
        <result column="belong_third_sector" property="belongThirdSector"/>
        <result column="belong_forth_sector" property="belongForthSector"/>
    </resultMap>

    <select id="getStockCompanySectorList" parameterType="java.lang.String" resultType="com.sky.vo.CompanySectorVO">
        SELECT
        a.forth_sector forthSector,
        a.five_sector fiveSector,
        a.stock_code stockCode,
        a.stock_name stockName,
        CONCAT(
        CASE WHEN a.ZHONG = 6 THEN 'S'
             WHEN a.ZHONG = 5 THEN 'A'
             WHEN a.ZHONG = 4 THEN 'B'
             WHEN a.ZHONG = 3 THEN 'C'
             WHEN a.ZHONG = 2 THEN 'D'
             WHEN a.ZHONG = 1 THEN 'E'
             END,
        CASE WHEN a.SHANG = 6 THEN 'S'
             WHEN a.SHANG = 5 THEN 'A'
             WHEN a.SHANG = 4 THEN 'B'
             WHEN a.SHANG = 3 THEN 'C'
             WHEN a.SHANG = 2 THEN 'D'
             WHEN a.SHANG = 1 THEN 'E'
             END,
        CASE WHEN a.ZHONG_i = 6 THEN 'S'
             WHEN a.ZHONG_i = 5 THEN 'A'
             WHEN a.ZHONG_i = 4 THEN 'B'
             WHEN a.ZHONG_i = 3 THEN 'C'
             WHEN a.ZHONG_i = 2 THEN 'D'
             WHEN a.ZHONG_i = 1 THEN 'E'
             END,
        CASE WHEN a.SHANG_i = 6 THEN 'S'
             WHEN a.SHANG_i = 5 THEN 'A'
             WHEN a.SHANG_i = 4 THEN 'B'
             WHEN a.SHANG_i = 3 THEN 'C'
             WHEN a.SHANG_i = 2 THEN 'D'
             WHEN a.SHANG_i = 1 THEN 'E'
             END
        ) companyLevel,
        CONCAT(
        CASE WHEN a.profit_score >= 80 THEN 'S'
        WHEN a.profit_score >= 70 AND a.profit_score &lt; 80 THEN 'A'
        WHEN a.profit_score >= 60 AND a.profit_score &lt; 70 THEN 'B'
        WHEN a.profit_score >= 50 AND a.profit_score &lt; 60 THEN 'C'
        WHEN a.profit_score >= 40 AND a.profit_score &lt; 50 THEN 'D'
        WHEN a.profit_score >= 30 AND a.profit_score &lt; 40 THEN 'E'
        ELSE 'F'
        END,
        CASE WHEN a.profit_grow_score >= 80 THEN 'S'
        WHEN a.profit_grow_score >= 70 AND a.profit_grow_score &lt; 80 THEN 'A'
        WHEN a.profit_grow_score >= 60 AND a.profit_grow_score &lt; 70 THEN 'B'
        WHEN a.profit_grow_score >= 50 AND a.profit_grow_score &lt; 60 THEN 'C'
        WHEN a.profit_grow_score >= 40 AND a.profit_grow_score &lt; 50 THEN 'D'
        WHEN a.profit_grow_score >= 30 AND a.profit_grow_score &lt; 40 THEN 'E'
        ELSE 'F'
        END,
        CASE WHEN a.asset_score >= 80 THEN 'S'
        WHEN a.asset_score >= 70 AND a.asset_score &lt; 80 THEN 'A'
        WHEN a.asset_score >= 60 AND a.asset_score &lt; 70 THEN 'B'
        WHEN a.asset_score >= 50 AND a.asset_score &lt; 60 THEN 'C'
        WHEN a.asset_score >= 40 AND a.asset_score &lt; 50 THEN 'D'
        WHEN a.asset_score >= 30 AND a.asset_score &lt; 40 THEN 'E'
        ELSE 'F'
        END,
        CASE WHEN a.asset_grow_score >= 80 THEN 'S'
        WHEN a.asset_grow_score >= 70 AND a.asset_grow_score &lt; 80 THEN 'A'
        WHEN a.asset_grow_score >= 60 AND a.asset_grow_score &lt; 70 THEN 'B'
        WHEN a.asset_grow_score >= 50 AND a.asset_grow_score &lt; 60 THEN 'C'
        WHEN a.asset_grow_score >= 40 AND a.asset_grow_score &lt; 50 THEN 'D'
        WHEN a.asset_grow_score >= 30 AND a.asset_grow_score &lt; 40 THEN 'E'
        ELSE 'F'
        END,
        CASE WHEN a.flow_score >= 80 THEN 'S'
        WHEN a.flow_score >= 70 AND a.flow_score &lt; 80 THEN 'A'
        WHEN a.flow_score >= 60 AND a.flow_score &lt; 70 THEN 'B'
        WHEN a.flow_score >= 50 AND a.flow_score &lt; 60 THEN 'C'
        WHEN a.flow_score >= 40 AND a.flow_score &lt; 50 THEN 'D'
        WHEN a.flow_score >= 30 AND a.flow_score &lt; 40 THEN 'E'
        ELSE 'F'
        END
        ) financialLevel,
        a.companyWebsite ,
        a.company_name companyName,
        a.company_region companyRegion,
        a.establish_date establishDate,
        a.publish_date publishDate ,
        a.groupIndex ,
        GROUP_CONCAT(h.`hot_name` SEPARATOR '->') groupHot ,
        a.main_business mainBusiness
        FROM(
        SELECT
        s.`stock_code` ,
        s.`stock_name` ,
        s.`first_sector` ,
        s.`second_sector` ,
        s.`third_secotor` ,
        s.`forth_sector` ,
        s.`five_sector` ,
        MAX(s.`profit_score`) profit_score,
        MAX(s.`profit_grow_score`) profit_grow_score,
        MAX(s.`asset_score`) asset_score,
        MAX(s.`asset_grow_score`) asset_grow_score,
        MAX(s.`flow_score`) flow_score,
        MAX(CASE WHEN i.index_name = '中证超大' THEN '6'
                 WHEN i.index_name = '中证100'  THEN '5'
                 WHEN i.index_name = '中证200'  THEN '4'
                 WHEN i.index_name = '中证500'  THEN '3'
                 WHEN i.index_name = '中证1000'  THEN '2'
                 WHEN i.index_name NOT REGEXP '中证超大|中证100|中证200|中证500|中证1000'  THEN '1'
                 END) AS ZHONG,
        MAX(CASE WHEN i.index_name = '上证50' THEN '6'
                 WHEN i.index_name = '上证180' AND i.index_name != '上证50'  THEN '5'
                 WHEN i.index_name = '上证100'  THEN '4'
                 WHEN i.index_name = '上证380' AND i.index_name != '上证100'  THEN '3'
                 WHEN i.index_name = '上证150'  THEN '2'
                 WHEN i.index_name NOT REGEXP '上证50|上证180|上证100|上证380|上证150'  THEN '1'
                 END) AS SHANG,
        MAX(CASE WHEN i.index_name = 'CX基石' THEN '6'
                 WHEN i.index_name = '中证龙头'  THEN '5'
                 WHEN i.index_name REGEXP '价值'  THEN '4'
                 WHEN i.index_name REGEXP '成长'  THEN '3'
                 WHEN i.index_name NOT REGEXP 'CX基石|中证龙头|价值|成长'  THEN '1'
                 END) AS ZHONG_i,
        MAX(CASE WHEN i.index_name = '超大盘'   THEN '6'
                 WHEN i.index_name = '上证龙头' THEN '5'
                 WHEN i.index_name = '上证中盘' THEN '4'
                 WHEN i.index_name = '上证小盘' THEN '3'
                 WHEN i.index_name NOT REGEXP '超大盘|上证龙头|上证中盘|上证小盘'  THEN '1'
                 END) AS SHANG_i,
        REPLACE(c.`company_name`, '股份有限公司', '') company_name,
        c.`company_region` ,
        c.`establish_date` ,
        s.`publish_time` publish_date ,
        s.company_website companyWebsite ,
        GROUP_CONCAT(i.index_name SEPARATOR '->') groupIndex ,
        s.main_business
        FROM stock_company_sector s
        LEFT JOIN stock_company_base c ON s.`stock_code` = c.`stock_a_code`
        LEFT JOIN stock_index_constituent i ON s.`stock_code` = i.`stock_code`
        WHERE LEFT(s.`stock_code`,2) != 68
        <if test="firstSector != null and firstSector != '' and firstSector != 'undefined'">
            AND s.`first_sector` = #{firstSector}
        </if>
        <if test="secondSector != null and secondSector != '' and secondSector != 'undefined'">
            AND s.`second_sector` = #{secondSector}
        </if>
        <if test="thirdSecotor != null and thirdSecotor != '' and thirdSecotor != 'undefined'">
            AND s.`third_secotor` = #{thirdSecotor}
        </if>
        <if test="forthSector != null and forthSector != '' and forthSector != 'undefined'">
            AND s.`forth_sector` = #{forthSector}
        </if>
        <if test="stockCode != null and stockCode != '' and stockCode != 'undefined'">
            AND s.`stock_code` REGEXP #{stockCode}
        </if>
        <if test="stockName != null and stockName != '' and stockName != 'undefined'">
            AND s.`stock_name` REGEXP #{stockName}
        </if>
        GROUP BY s.`stock_code`
        ORDER BY s.`first_sector` ,
        s.`second_sector` ,
        s.`third_secotor` ,
        s.`forth_sector` ,
        s.`five_sector`
        ) a
        LEFT JOIN stock_hot_class h ON a.`stock_code` = h.`stock_code`
        LEFT JOIN stock_market_class c ON h.`hot_code` = c.`class_code`
        <where>
            <if test="firstHot != null and firstHot != '' and firstHot != 'undefined'">
                AND c.`first_class` = #{firstHot}
            </if>
            <if test="secondHot != null and secondHot != '' and secondHot != 'undefined'">
                AND c.`second_class` =  #{secondHot}
            </if>
            <if test="thirdHot != null and thirdHot != '' and thirdHot != 'undefined'">
                AND c.`third_class` = #{thirdHot}
            </if>
            <if test="forthHot != null and forthHot != '' and forthHot != 'undefined'">
                AND c.`class_name` = #{forthHot}
            </if>
        </where>
        GROUP BY a.stock_code
        <choose>
            <when test="(firstHot != null and firstHot != '' and firstHot != 'undefined') or (secondHot != null and secondHot != '' and secondHot != 'undefined') or (thirdHot != null and thirdHot != '' and thirdHot != 'undefined') or(forthHot != null and forthHot != '' and forthHot != 'undefined')">
                ORDER BY
                c.`first_class` ,
                c.`second_class`,
                c.`third_class` ,
                a.ZHONG DESC,
                a.profit_grow_score DESC,
                a.profit_score DESC,
                a.asset_grow_score DESC,
                a.asset_score DESC
            </when>
            <otherwise>
                ORDER BY
                a.`first_sector` ,
                a.`second_sector` ,
                a.`third_secotor` ,
                a.`forth_sector` ,
                a.five_sector ,
                a.ZHONG DESC,
                a.profit_grow_score DESC,
                a.profit_score DESC,
                a.asset_grow_score DESC,
                a.asset_score DESC
            </otherwise>
        </choose>

    </select>


    <select id="getCreateCompanyWorldList" parameterType="java.lang.String" resultType="com.sky.vo.CreateCompanyWorld_VO">
        SELECT
          a.forth_sector forthSector,
          a.stock_code stockCode,
          a.companyName ,
          a.companyClass ,
          a.establishDay ,
          a.publishDay ,
          a.spaceYear ,
          a.publishCount ,
          a.flowCount ,
          a.flowRate ,
          a.marketOrder ,
          a.sectorOrder ,
          a.companyType ,
          REPLACE(CONCAT(IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路' THEN h.hot_name END SEPARATOR '->'),'') ,'(' ,a.companyRegion ,')'),'()','')  companyRegion ,
          CONCAT(a.companyStrength , '->' , IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '转债|预亏|预盈|独角|纾困|分拆|举牌|债转股|壳资源|送转' THEN h.hot_name END SEPARATOR '->'),'')) companyStrength ,
          a.companyChance ,
          a.marketClass ,
          IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '标普|富时|股通|MSCI|AB|AH|B' THEN h.hot_name END SEPARATOR '->'),'') internalOrganize ,
          IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '证金|社保|机构|基金|QFII' THEN h.hot_name END SEPARATOR '->'),'') focusOrganize ,
        CONCAT(IFNULL(GROUP_CONCAT(
        CASE WHEN h.`hot_name` NOT REGEXP '标普|富时|股通|MSCI|AB|AH|B|证金|社保|机构|基金|QFII|自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路|0|创业|股权|三板|融资|转债|预亏|预盈|独角|ST|创投|纾困|昨日|分拆|举牌|改革|债转股|壳资源|送转' THEN h.`hot_name` END
        SEPARATOR '->'),'') , '(' , IFNULL(a.groupIndex,'') ,')')  groupHot
        FROM (
        SELECT
        s.`first_sector`,
        s.`second_sector`,
        s.`third_secotor`,
        s.`forth_sector`,
        s.`stock_code`,
        CONCAT(c.company_region ,REPLACE(REPLACE(c.`company_name`,'股份有限公司',''),c.company_region,'')) companyName ,
        c.`establish_date`establishDay,
        s.`publish_time` publishDay,
        CONCAT(TIMESTAMPDIFF(YEAR, c.`establish_date` , s.`publish_time` ),'年') spaceYear ,
        FORMAT(ROUND(v.`publish_count` / 10000 ,2),2) publishCount ,
        FORMAT(ROUND(v.`flow_count` / 10000 ,2),2) flowCount ,
        CONCAT(ROUND(v.`flow_count` /v.`publish_count` * 100 ,2 ),'%') flowRate ,
        CASE WHEN GROUP_CONCAT(CASE WHEN i.index_name REGEXP '国企|央企|地企' THEN '国企' WHEN i.index_name REGEXP '民企' THEN '民企' END ) REGEXP '国企' THEN '国企'
             WHEN GROUP_CONCAT(CASE WHEN i.index_name REGEXP '国企|央企|地企' THEN '国企' WHEN i.index_name REGEXP '民企' THEN '民企' END ) REGEXP '民企' THEN '民企'
             ELSE ''
        END companyClass ,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '龙头|基石|百强' THEN i.index_name END  SEPARATOR '->'),'') marketOrder ,
        LEFT(IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '上游|中游|下游' THEN i.index_name END  SEPARATOR '->'),''),4) sectorOrder ,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '新兴|传统' THEN i.index_name END  SEPARATOR '->'),'') companyType ,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路|安徽|中部|西部|杭州湾区|环渤海' THEN i.index_name END SEPARATOR '->'),'') companyRegion,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '周|驱动|优势|中盘|小盘|领先|融资' AND i.index_name NOT REGEXP '0' THEN i.index_name END SEPARATOR '->'),'') companyStrength,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '成长|价值' AND i.index_name NOT REGEXP '全' THEN i.index_name END SEPARATOR '->'),'') companyChance,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '中证|上证|深成' AND i.index_name REGEXP '0|超' THEN i.index_name END  SEPARATOR '->'),'') marketClass ,
        GROUP_CONCAT(
        CASE WHEN i.index_name NOT REGEXP '国企|央企|地企|龙头|基石|上游|中游|下游|自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路|0|民企|中小|国造|股通|TMT|轻资产|全|周|驱动|优势|新兴|传统|超大|领先|创始|融资|服务|中盘|小盘|创业|百强|综合|安徽|中部|高新|综指|平台|浙江|股权|上海|商业|西藏|工业指数|西部|杭州湾区|东北指数|深圳|TI|并购|重组|环渤海|互联+|民参军|PPP|四川|资产|结构|东北|改革|沪' THEN i.index_name END
        SEPARATOR '->') groupIndex,
        MAX(s.`profit_score`) profit_score,
        MAX(s.`profit_grow_score`) profit_grow_score,
        MAX(s.`asset_score`) asset_score,
        MAX(s.`asset_grow_score`) asset_grow_score,
        MAX(s.`flow_score`) flow_score,
        MAX(
        CASE WHEN i.index_name = '中证超大' THEN '6'
             WHEN i.index_name = '中证100' THEN '5'
             WHEN i.index_name = '中证200' THEN '4'
             WHEN i.index_name = '中证500' THEN '3'
             WHEN i.index_name = '中证1000' THEN '2'
             WHEN i.index_name NOT REGEXP '中证超大|中证100|中证200|中证500|中证1000' THEN '1'
             END
        ) AS ZHONG,
        MAX(
        CASE WHEN i.index_name = '上证50' THEN '6'
             WHEN i.index_name = '上证180' AND i.index_name != '上证50' THEN '5'
             WHEN i.index_name = '上证100' THEN '4'
             WHEN i.index_name = '上证380' AND i.index_name != '上证100' THEN '3'
             WHEN i.index_name = '上证150' THEN '2'
             WHEN i.index_name NOT REGEXP '上证50|上证180|上证100|上证380|上证150' THEN '1'
             END
        ) AS SHANG,
        MAX(
        CASE WHEN i.index_name = 'CX基石' THEN '6'
             WHEN i.index_name = '中证龙头' THEN '5'
             WHEN i.index_name REGEXP '价值' THEN '4'
             WHEN i.index_name REGEXP '成长' THEN '3'
             WHEN i.index_name NOT REGEXP 'CX基石|中证龙头|价值|成长' THEN '1'
             END
        ) AS ZHONG_i,
        MAX(
        CASE
             WHEN i.index_name = '超大盘' THEN '6'
             WHEN i.index_name = '上证龙头' THEN '5'
             WHEN i.index_name = '上证中盘' THEN '4'
             WHEN i.index_name = '上证小盘' THEN '3'
             WHEN i.index_name NOT REGEXP '超大盘|上证龙头|上证中盘|上证小盘' THEN '1'
             END
        ) AS SHANG_i
        FROM stock_company_sector s
        LEFT JOIN stock_company_base c ON s.`stock_code` = c.`stock_a_code`
        LEFT JOIN stock_index_constituent i ON s.`stock_code` = i.`stock_code`
        LEFT JOIN stock_company_value_compare v ON s.`stock_code` = v.`stock_code`
        WHERE LEFT(s.`stock_code`, 2) != 68
        <if test="firstSector != null and firstSector != '' and firstSector != 'undefined'">
            AND s.`first_sector` = #{firstSector}
        </if>
        <if test="secondSector != null and secondSector != '' and secondSector != 'undefined'">
            AND s.`second_sector` = #{secondSector}
        </if>
        <if test="thirdSecotor != null and thirdSecotor != '' and thirdSecotor != 'undefined'">
            AND s.`third_secotor` = #{thirdSecotor}
        </if>
        <if test="forthSector != null and forthSector != '' and forthSector != 'undefined'">
            AND s.`forth_sector` = #{forthSector}
        </if>
        <if test="stockCode != null and stockCode != '' and stockCode != 'undefined'">
            AND s.`stock_code` REGEXP #{stockCode}
        </if>
        GROUP BY s.`stock_code`
        ORDER BY s.`first_sector`,
        s.`second_sector`,
        s.`third_secotor`,
        s.`forth_sector`
            ) a
          LEFT JOIN stock_hot_class h ON a.`stock_code` = h.`stock_code`
          LEFT JOIN stock_market_class c ON h.`hot_code` = c.`class_code`
        GROUP BY a.stock_code
        ORDER BY a.`first_sector`,
          a.`second_sector`,
          a.`third_secotor`,
          a.`forth_sector`,
          a.ZHONG DESC,
          a.profit_grow_score DESC,
          a.profit_score DESC,
          a.asset_grow_score DESC,
          a.asset_score DESC
    </select>


    <select id="getStockCompanyPoolList" parameterType="java.lang.String" resultType="com.sky.vo.CreateCompanyWorld_VO">
        SELECT
        a.forth_sector forthSector,
        a.five_sector fiveSector ,
        a.stock_code stockCode,
        CASE WHEN LEFT(a.stock_code , 1) = '6' THEN 'sh' ELSE 'sz' END AS marketType ,
        a.stock_name stockName ,
        a.companyName ,
        CASE WHEN a.ZHONG = 6 THEN 'S'
              WHEN a.ZHONG = 5 THEN 'A'
              WHEN a.ZHONG = 4 THEN 'B'
              WHEN a.ZHONG = 3 THEN 'C'
              WHEN a.ZHONG = 2 THEN 'D'
              WHEN a.ZHONG = 1 THEN 'E'
              END companyLevel,
        CONCAT(
        CASE WHEN a.profit_grow_score >= 80 THEN 'S'
              WHEN a.profit_grow_score >= 70 AND a.profit_grow_score &lt; 80 THEN 'A'
              WHEN a.profit_grow_score >= 60 AND a.profit_grow_score &lt; 70 THEN 'B'
              WHEN a.profit_grow_score >= 50 AND a.profit_grow_score &lt; 60 THEN 'C'
              WHEN a.profit_grow_score >= 40 AND a.profit_grow_score &lt; 50 THEN 'D'
              WHEN a.profit_grow_score >= 30 AND a.profit_grow_score &lt; 40 THEN 'E'
              ELSE 'F' END,
        CASE WHEN a.asset_grow_score >= 80 THEN 'S'
              WHEN a.asset_grow_score >= 70 AND a.asset_grow_score &lt; 80 THEN 'A'
              WHEN a.asset_grow_score >= 60 AND a.asset_grow_score &lt; 70 THEN 'B'
              WHEN a.asset_grow_score >= 50 AND a.asset_grow_score &lt; 60 THEN 'C'
              WHEN a.asset_grow_score >= 40 AND a.asset_grow_score &lt; 50 THEN 'D'
              WHEN a.asset_grow_score >= 30 AND a.asset_grow_score &lt; 40 THEN 'E'
              ELSE 'F' END
        ) financialLevel,
        a.companyWebsite ,
        a.companyClass ,
        a.establishDay ,
        a.publishDay ,
        a.spaceYear ,
        a.publishCount ,
        a.flowCount ,
        a.flowRate ,
        a.marketOrder ,
        CASE WHEN a.sectorOrder REGEXP '上游' THEN '上游'
        WHEN a.sectorOrder REGEXP '中游' THEN '中游'
        WHEN a.sectorOrder REGEXP '下游' THEN '下游'
        ELSE '' END AS sectorOrder,
        CASE WHEN a.companyType REGEXP '新兴' THEN '新兴' ELSE '' END AS companyType,
        REPLACE(CONCAT(IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路' THEN h.hot_name END SEPARATOR '->'),'') ,'(' ,a.companyRegion ,')'),'()','')  companyRegion ,
        TRIM(BOTH '->' FROM CONCAT(a.companyStrength , '->' , IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '转债|预亏|预盈|独角|纾困|分拆|举牌|债转股|壳资源|送转' THEN h.hot_name END SEPARATOR '->'),''))) companyStrength ,
        a.companyChance ,
        a.marketClass ,
        IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '标普|富时|股通|MSCI|AB|AH|B' THEN h.hot_name END SEPARATOR '->'),'') internalOrganize ,
        IFNULL(GROUP_CONCAT(CASE WHEN h.hot_name REGEXP '证金|社保|机构|基金|QFII' THEN h.hot_name END SEPARATOR '->'),'') focusOrganize ,
        REPLACE(CONCAT(IFNULL(GROUP_CONCAT(
        CASE WHEN h.`hot_name` NOT REGEXP '国产软件|次新股|标普|富时|股通|MSCI|AB|AH|B|证金|社保|机构|基金|QFII|自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路|0|创业|股权|三板|融资|转债|预亏|预盈|独角|ST|创投|纾困|昨日|分拆|举牌|改革|债转股|壳资源|送转' THEN h.`hot_name` END
        SEPARATOR '->'),'') , '(' , IFNULL(a.groupIndex,'') ,')'),'()','')  groupHot ,
        a.mainBusiness
        FROM (
        SELECT
        s.`first_sector`,
        s.`second_sector`,
        s.`third_secotor`,
        s.`forth_sector`,
        s.five_sector ,
        s.`stock_code`,
        s.stock_name ,
        s.five_order ,
        c.company_region ,
        CONCAT('[' , c.company_region , ']' ,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(c.`company_name`,'股份有限公司',''),'股份公司',''),c.company_region,''),'()',''),'(集团)',''),'中国',''),'深圳市',''),'杭州',''),'广州',''),'贵阳',''),'深圳',''),'厦门',''),'成都',''),'南京',''),'芜湖',''),'无锡',''),'厦门',''),'大连',''),'厦门市',''),'珠海','')) companyName ,
        c.`establish_date`establishDay,
        s.`publish_time` publishDay,
        s.company_website companyWebsite ,
        CONCAT(TIMESTAMPDIFF(YEAR, s.publish_time , NOW() ),'年') spaceYear ,
        FORMAT(ROUND(v.`publish_count` / 10000 ,2),2) publishCount ,
        FORMAT(ROUND(v.`flow_count` / 10000 ,2),2) flowCount ,
        CONCAT(ROUND(v.`flow_count` /v.`publish_count` * 100 ,2 ),'%') flowRate ,
        CASE WHEN GROUP_CONCAT(CASE WHEN i.index_name REGEXP '国企|央企|地企' THEN '国企' WHEN i.index_name REGEXP '民企' THEN '民企' END ) REGEXP '国企' THEN '国企'
        WHEN GROUP_CONCAT(CASE WHEN i.index_name REGEXP '国企|央企|地企' THEN '国企' WHEN i.index_name REGEXP '民企' THEN '民企' END ) REGEXP '民企' THEN '民企'
        ELSE ''
        END companyClass ,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '龙头|基石|百强' THEN i.index_name END  SEPARATOR '->'),'') marketOrder ,
        LEFT(IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '上游|中游|下游' THEN i.index_name END  SEPARATOR '->'),''),4) sectorOrder ,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '新兴|传统' THEN i.index_name END  SEPARATOR '->'),'') companyType ,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路|安徽|中部|西部|杭州湾区|环渤海' AND i.index_name NOT REGEXP '沪|CS|泛|指' THEN i.index_name END SEPARATOR '->'),'') companyRegion,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '周|驱动|优势|中盘|小盘|领先|融资' AND i.index_name NOT REGEXP '0|ESG' THEN i.index_name END SEPARATOR '->'),'') companyStrength,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '成长|价值' AND i.index_name NOT REGEXP '全|700|800' THEN i.index_name END SEPARATOR '->'),'') companyChance,
        IFNULL(GROUP_CONCAT(CASE WHEN i.index_name REGEXP '中证|上证|深成' AND i.index_name REGEXP '0|超' AND i.index_name NOT REGEXP '700|800' THEN i.index_name END  SEPARATOR '->'),'') marketClass ,
        GROUP_CONCAT(
        CASE WHEN i.index_name NOT REGEXP '国企|央企|地企|龙头|基石|上游|中游|下游|自贸|特区|三角|区域|长株潭|京津冀|新区|振兴|一带一路|0|民企|中小|国造|股通|TMT|轻资产|全|周|驱动|优势|新兴|传统|超大|领先|创始|融资|服务|中盘|小盘|创业|百强|综合|安徽|中部|高新|综指|平台|浙江|股权|上海|商业|西藏|工业指数|西部|杭州湾区|东北指数|深圳|TI|并购|重组|环渤海|互联+|民参军|PPP|四川|资产|结构|东北|改革|沪|CS|CX' THEN i.index_name END
        SEPARATOR '->') groupIndex,
        MAX(s.`profit_grow_score`) profit_grow_score,
        MAX(s.`asset_grow_score`) asset_grow_score,
        MAX(
        CASE WHEN i.index_name = '中证超大' THEN '6'
        WHEN i.index_name = '中证100' THEN '5'
        WHEN i.index_name = '中证200' THEN '4'
        WHEN i.index_name = '中证500' THEN '3'
        WHEN i.index_name = '中证1000' THEN '2'
        WHEN i.index_name NOT REGEXP '中证超大|中证100|中证200|中证500|中证1000' THEN '1'
        END
        ) AS ZHONG ,
        s.main_business mainBusiness
        FROM stock_company_sector s
        LEFT JOIN stock_company_base c ON s.`stock_code` = c.`stock_a_code`
        LEFT JOIN stock_index_constituent i ON s.`stock_code` = i.`stock_code`
        LEFT JOIN stock_company_value_compare v ON s.`stock_code` = v.`stock_code`
        WHERE LEFT(s.`stock_code`, 2) != 68
        <if test="firstSector != null and firstSector != '' and firstSector != 'undefined'">
            AND s.`first_sector` = #{firstSector}
        </if>
        <if test="secondSector != null and secondSector != '' and secondSector != 'undefined'">
            AND s.`second_sector` = #{secondSector}
        </if>
        <if test="thirdSecotor != null and thirdSecotor != '' and thirdSecotor != 'undefined'">
            AND s.`third_secotor` = #{thirdSecotor}
        </if>
        <if test="forthSector != null and forthSector != '' and forthSector != 'undefined'">
            AND s.`forth_sector` = #{forthSector}
        </if>
        <if test="stockCode != null and stockCode != '' and stockCode != 'undefined'">
            AND s.`stock_code` REGEXP #{stockCode}
        </if>
        <if test="companyLevel != null and companyLevel != '' and companyLevel != 'undefined'">
            AND s.`company_level` IN (${companyLevel})
        </if>
        GROUP BY s.`stock_code`
        ) a
        LEFT JOIN stock_hot_class h ON a.`stock_code` = h.`stock_code`
        LEFT JOIN stock_market_class c ON h.`hot_code` = c.`class_code`
        GROUP BY a.stock_code
        ORDER BY a.`first_sector`,
        a.`second_sector`,
        a.ZHONG DESC,
        a.profit_grow_score DESC,
        a.asset_grow_score DESC
    </select>
</mapper>