<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockHotSectorClassMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockHotSectorClass">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="hot_code" property="hotCode"/>
        <result column="hot_name" property="hotName"/>
        <result column="first_sector" property="firstSector"/>
        <result column="second_sector" property="secondSector"/>
        <result column="third_sector" property="secondSector"/>
        <result column="forth_sector" property="forthSector"/>
    </resultMap>


    <select id="getStockHotSectorClassList" parameterType="java.lang.String" resultType="com.sky.vo.StockHotSectorClass_VO">
        SELECT
        a.marketName ,
        a.stockMarketName ,
        a.sectorType ,
        a.typeOrder ,
        a.firstSector ,
        a.secondSector ,
        a.thirdSector ,
        a.forthSector ,
        a.fiveSector ,
        a.focusLevel ,
        a.stockCode ,
        a.stockName ,
        a.publishTime ,
        a.defaultSector ,
        a.mainBusinessProfit ,
        a.pureBusinessProfit ,
        a.profitRate ,
        a.perStockProfit ,
        a.flowStockCount ,
        a.totalStockCount ,
        a.closePrice ,
        GROUP_CONCAT(p.`product_name` , '->' , p.product_revenue_rate , '%') productRevenueRate
        FROM(
            SELECT
            c.* ,
            IFNULL(GROUP_CONCAT(fm.`market_name` ORDER BY fm.`market_name`),'') stockMarketName
            FROM(
                SELECT
                GROUP_CONCAT(fm.`market_name` ORDER BY fm.`market_name`) marketName,
                COUNT(1) num ,
                sl.`sector_type` sectorType,
                sl.`type_order` typeOrder,
                sl.first_sector firstSector ,
                sl.`second_sector` secondSector,
                sl.`third_sector` thirdSector,
                sl.`forth_sector` forthSector,
                sl.focus_level focusLevel ,
                CONCAT(sl.`five_sector` , '/' , sl.`six_sector` , '/' ,sl.`seven_sector`) fiveSector ,
                cs.`stock_code` stockCode,
                cs.`stock_name` stockName,
                cs.`publish_time` publishTime ,
                CONCAT(cs.`first_sector` , '->' , cs.`second_sector` , '->' , cs.`third_secotor` , '->' , cs.`forth_sector`) defaultSector ,
                cs.`main_business_profit` mainBusinessProfit,
                cs.`pure_business_profit` pureBusinessProfit,
                IFNULL(ROUND(CAST(cs.`pure_business_profit`  AS DECIMAL(20,2)) / CAST(cs.`main_business_profit`  AS DECIMAL(20,2)) * 100 , 2),0) profitRate ,
                cs.`per_stock_profit` perStockProfit,
                ROUND(CAST(cs.`flow_stock_count`  AS DECIMAL(20,2)) / 10000 ,2)  flowStockCount,
                ROUND((CAST(cs.`total_stock_count`  AS DECIMAL(20,2)) - CAST(cs.`flow_stock_count_b`  AS DECIMAL(20,2)) - CAST(cs.`flow_stock_count_jy`  AS DECIMAL(20,2))) / 10000 ,2) totalStockCount,
                d.close_price closePrice
                FROM stock_sector_level sl
                LEFT JOIN stock_company_sector cs ON sl.`stock_code` = cs.`stock_code`
                LEFT JOIN finance_market_stock ms ON ms.`stock_code` = cs.`stock_code`
                LEFT JOIN stock_hot_sector_class sc ON ms.`market_code` = sc.`hot_code`
                LEFT JOIN finance_market fm ON fm.`market_code` = sc.`hot_code` AND fm.`market_type` = 4 and fm.market_name != '融资融券'
                LEFT JOIN stock_deal_data_1 d ON cs.`stock_code` = d.stock_code
                WHERE sl.isvalid = 1
                <if test="firstSector != null and firstSector != '' and firstSector != 'undefined'">
                    AND sc.`first_sector` = #{firstSector}
                </if>
                <if test="secondSector != null and secondSector != '' and secondSector != 'undefined'">
                    AND sc.`second_sector` = #{secondSector}
                </if>
                <if test="thirdSector != null and thirdSector != '' and thirdSector != 'undefined'">
                    AND sc.`third_sector` = #{thirdSector}
                </if>
                <if test="forthSector != null and forthSector != '' and forthSector != 'undefined'">
                    AND sc.`forth_sector` = #{forthSector}
                </if>
                <if test="fiveSector != null and fiveSector != '' and fiveSector != 'undefined'">
                    AND sc.`hot_code` =  #{fiveSector}
                </if>
                <if test="sectorTypes != null and sectorTypes != '' and sectorTypes != 'undefined'">
                    AND sl.`sector_type` in (${sectorTypes})
                </if>
                GROUP BY cs.`stock_code`
            ) c
            LEFT JOIN finance_market_stock ms ON ms.`stock_code` = c.`stockCode`
            LEFT JOIN finance_market fm ON fm.`market_code` = ms.`market_code` AND fm.`market_type` = 4  and fm.market_name != '融资融券'
            GROUP BY c.`stockCode`
        ) a
        LEFT JOIN stock_company_product p ON a.`stockCode` = p.`stock_code` AND CAST(p.product_revenue_rate AS DECIMAL(20,2)) > 15
        GROUP BY a.`stockCode`
        ORDER BY
        a.firstSector ASC ,
        a.secondSector ASC ,
        a.thirdSector ASC ,
        <if test="sectorTypes != null and sectorTypes != '' and sectorTypes != 'undefined'">
            a.sectorType DESC ,
            a.typeOrder ASC ,
        </if>
        CAST(a.mainBusinessProfit AS DECIMAL (20, 2)) DESC
    </select>
</mapper>