<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockCompanyProfitMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockCompanyProfit">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="stock_code" property="stockCode"/>
        <result column="publish_day" property="publishDay"/>
        <result column="total_income" property="totalIncome"/>
        <result column="business_income" property="businessIncome"/>
        <result column="total_cost" property="totalCost"/>
        <result column="business_cost" property="businessCost"/>
        <result column="total_profit" property="totalProfit"/>
        <result column="business_total_profit" property="businessTotalProfit"/>
        <result column="income_tax" property="incomeTax"/>
        <result column="belong_profit" property="belongProfit"/>
        <result column="final_profit" property="finalProfit"/>
    </resultMap>

    <select id="getCompanyProfitGrowList" parameterType="java.lang.String" resultType="com.sky.vo.StockCompanyProfitVO">
        SELECT
        a.stock_code stockCode,
        a.publish_year publishYear,
        ROUND(SUM(a.total_profit) / 100000000 ,2) totalProfit ,
        ROUND(SUM(a.belong_profit) / 100000000 ,2) belongProfit ,
        IFNULL(ROUND((SUM(a.total_profit) - b.total_profit) / b.total_profit * 100 ,2),0) totalProfitRate ,
        IFNULL(ROUND((SUM(a.belong_profit) - b.belong_profit) / b.belong_profit * 100 ,2),0) belongProfitRate ,
        ROUND(SUM(CASE WHEN a.publish_month = '03' THEN a.total_profit ELSE 0 END) / 100000000 ,2) AS firstSeasonProfit ,
        ROUND(SUM(CASE WHEN a.publish_month = '06' THEN a.total_profit ELSE 0 END) / 100000000 ,2) AS secondSeasonProfit ,
        ROUND(SUM(CASE WHEN a.publish_month = '09' THEN a.total_profit ELSE 0 END) / 100000000 ,2) AS thirdSeasonProfit ,
        ROUND(SUM(CASE WHEN a.publish_month = '12' THEN a.total_profit ELSE 0 END) / 100000000 ,2) AS forthSeasonProfit ,
        CASE WHEN SUM(a.total_profit) - b.total_profit > 0 THEN 1 ELSE 0 END AS isGrow ,
        CASE WHEN SUM(a.belong_profit) - b.belong_profit > 0 THEN 1 ELSE 0 END AS isBelong ,
        CASE WHEN SUM(a.total_profit) - SUM(a.belong_profit) &lt; b.total_profit - b.belong_profit THEN 1 ELSE 0 END AS belongOther
        FROM(
        SELECT
        p.`stock_code` ,
        DATE_FORMAT(p.publish_day ,'%Y') publish_year ,
        DATE_FORMAT(p.publish_day ,'%m') publish_month ,
        CONVERT(p.`total_profit`,DECIMAL(20,2)) total_profit,
        CONVERT(p.`belong_profit`,DECIMAL(20,2)) belong_profit
        FROM stock_company_profit p
        WHERE p.`stock_code` = #{stockCode}
        ) a
        LEFT JOIN (
        SELECT
        p.`stock_code` ,
        DATE_FORMAT(p.publish_day ,'%Y-%m-%d'),
        DATE_FORMAT(ADDDATE(DATE_FORMAT(p.publish_day ,'%Y-%m-%d'),INTERVAL 1 YEAR),'%Y') publish_year ,
        SUM(CONVERT(p.`total_profit`,DECIMAL(20,2))) total_profit,
        SUM(CONVERT(p.`belong_profit`,DECIMAL(20,2))) belong_profit
        FROM stock_company_profit p
        WHERE p.`stock_code` = #{stockCode}
        GROUP BY p.`stock_code` ,DATE_FORMAT(p.publish_day ,'%Y')
        ) b ON a.stock_code = b.stock_code AND a.publish_year = b.publish_year
        GROUP BY a.stock_code ,a.publish_year
        ORDER BY a.publish_year ASC
    </select>

    <select id="getRecentCompanyProfitList" parameterType="java.lang.String" resultType="com.sky.vo.CompanyProfit_VO">
        SELECT
        stock_code stockCode,
        DATE_FORMAT(publish_day ,'%Y') publishYear,
        SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') BETWEEN #{startYear} AND #{endYear}
        GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ORDER BY DATE_FORMAT(publish_day ,'%Y')
    </select>

    <select id="getMaxAndMinCompanyProfit" parameterType="java.lang.String" resultType="com.sky.vo.CompanyProfit_VO">
        SELECT
        a.stock_code stockCode,
        MAX(a.totalProfit) maxProfit ,
        MIN(a.totalProfit) minProfit
        FROM(
            SELECT
            stock_code ,
            DATE_FORMAT(publish_day ,'%Y') publishYear,
            SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
            FROM stock_company_profit
            WHERE stock_code = #{stockCode}
            AND DATE_FORMAT(publish_day ,'%Y') BETWEEN #{startYear} AND #{endYear}
            GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ) a
    </select>

    <select id="caculateProfitIncreaseRate" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        SELECT
        ROUND(SUM(c.increaseRate) / SUM(c.num),2) increaseRate
        FROM(
        SELECT
        a.stockCode ,
        a.publishYear ,
        CASE WHEN a.increaseRate = b.maxIncreaseRate OR a.increaseRate = b.minIncreaseRate THEN 0 ELSE a.increaseRate END AS increaseRate ,
        CASE WHEN a.increaseRate = b.maxIncreaseRate OR a.increaseRate = b.minIncreaseRate THEN 0 ELSE 1 END AS num
        FROM(
        SELECT
        a.stockCode ,
        a.publishYear ,
        ROUND((a.totalProfit - b.totalProfit) / b.totalProfit * 100 ,2) increaseRate
        FROM(
        SELECT
        stock_code stockCode,
        DATE_FORMAT(publish_day ,'%Y') publishYear,
        SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') BETWEEN (#{pointYear} - #{spaceYear}) AND #{pointYear}
        GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ORDER BY DATE_FORMAT(publish_day ,'%Y')
        )a
        LEFT JOIN(
        SELECT
        stock_code stockCode,
        DATE_FORMAT(publish_day ,'%Y') publishYear,
        SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') BETWEEN (#{pointYear} - #{spaceYear}) AND #{pointYear}
        GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ORDER BY DATE_FORMAT(publish_day ,'%Y')
        )b ON a.publishYear = (b.publishYear + 1)
        WHERE b.stockCode IS NOT NULL
        ) a
        LEFT JOIN (
        SELECT
        a.stockCode ,
        a.publishYear ,
        MAX(ROUND((a.totalProfit - b.totalProfit) / b.totalProfit * 100 ,2)) maxIncreaseRate ,
        MIN(ROUND((a.totalProfit - b.totalProfit) / b.totalProfit * 100 ,2)) minIncreaseRate
        FROM(
        SELECT
        stock_code stockCode,
        DATE_FORMAT(publish_day ,'%Y') publishYear,
        SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') BETWEEN (#{pointYear} - #{spaceYear}) AND #{pointYear}
        GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ORDER BY DATE_FORMAT(publish_day ,'%Y')
        )a
        LEFT JOIN(
        SELECT
        stock_code stockCode,
        DATE_FORMAT(publish_day ,'%Y') publishYear,
        SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') BETWEEN (#{pointYear} - #{spaceYear}) AND #{pointYear}
        GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ORDER BY DATE_FORMAT(publish_day ,'%Y')
        )b ON a.publishYear = (b.publishYear + 1)
        WHERE b.stockCode IS NOT NULL
        ) b ON a.stockCode = b.stockCode
        ) c
        GROUP BY c.stockCode
    </select>

    <select id="getStockProfitSeasonIncreaseRate" parameterType="java.lang.String" resultType="com.sky.vo.CompanyProfit_VO">
        SELECT
        a.stock_code stockCode,
        SUM(a.total_profit) totalProfit ,
        ROUND((SUM(a.total_profit) - SUM(b.total_profit)) / SUM(b.total_profit) * 100 , 2) totalProfitIncreaseRate ,
        SUM(CASE WHEN a.publish_month = '03' THEN ROUND((a.total_profit - b.total_profit) / b.total_profit * 100 ,2) ELSE 0 END) firstSeasonIncreaseRate ,
        SUM(CASE WHEN a.publish_month = '06' THEN ROUND((a.total_profit - b.total_profit) / b.total_profit * 100 ,2) ELSE 0 END) secondSeasonIncreaseRate ,
        SUM(CASE WHEN a.publish_month = '09' THEN ROUND((a.total_profit - b.total_profit) / b.total_profit * 100 ,2) ELSE 0 END) thirdSeasonIncreaseRate ,
        SUM(CASE WHEN a.publish_month = '12' THEN ROUND((a.total_profit - b.total_profit) / b.total_profit * 100 ,2) ELSE 0 END) forthSeasonIncreaseRate
        FROM(
        SELECT
        stock_code ,
        DATE_FORMAT(publish_day ,'%m') publish_month ,
        CONVERT(total_profit,DECIMAL(20,2)) total_profit
        FROM stock_company_profit
        WHERE DATE_FORMAT(publish_day ,'%Y') = #{pointYear}
        AND stock_code = #{stockCode}
        )a
        LEFT JOIN(
        SELECT
        stock_code ,
        DATE_FORMAT(publish_day ,'%m') publish_month ,
        CONVERT(total_profit,DECIMAL(20,2)) total_profit
        FROM stock_company_profit
        WHERE DATE_FORMAT(publish_day ,'%Y') = (${pointYear} - 1)
        AND stock_code = #{stockCode}
        ) b ON a.stock_code = b.stock_code AND a.publish_month = b.publish_month
        GROUP BY a.stock_code
    </select>

    <select id="getStockProfitSpaceYear" parameterType="java.lang.String" resultType="com.sky.vo.CompanyProfit_VO">
        SELECT
        MIN(DATE_FORMAT(publish_day ,'%Y')) + 1 minYear ,
        MAX(DATE_FORMAT(publish_day ,'%Y')) maxYear ,
        MAX(DATE_FORMAT(publish_day ,'%Y')) - MIN(DATE_FORMAT(publish_day ,'%Y')) spaceYear
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') >= 2000
    </select>
</mapper>