<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockCompanyProductMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockCompanyProduct">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="stock_code" property="stockCode"/>
        <result column="publish_date" property="publishDate"/>
        <result column="pruduct_type" property="pruductType"/>
        <result column="product_name" property="productName"/>
        <result column="product_revenue" property="productRevenue"/>
        <result column="product_revenue_rate" property="productRevenueRate"/>
        <result column="product_cost" property="productCost"/>
        <result column="product_cost_rate" property="productCostRate"/>
        <result column="product_profit" property="productProfit"/>
        <result column="product_profit_rate" property="productProfitRate"/>
        <result column="product_gross_rate" property="productGrossRate"/>
    </resultMap>
    
    <select id="getStockCompanyConstruct" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        p.`pruduct_type`,
        p.`product_name` ,
        p.`product_revenue`
        FROM stock_company_product p
        WHERE p.`stock_code` =  #{stockCode}
        AND p.isvalid = 1
        AND DATE_FORMAT(p.`publish_date`,'%Y-%m') > DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 6 MONTH),'%Y-%m')
    </select>

    <select id="getNewCompanyProductList" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        publish_date ,
        REPLACE(REPLACE(REPLACE(product_name,'地区',''),'收入',''),'﻿' ,'') product_name ,
        product_revenue_rate
        FROM stock_company_product
        WHERE pruduct_type = #{productType}
        AND stock_code = #{stockCode}
        AND product_name NOT REGEXP '其他|其中|平衡|抵销'
        AND publish_date = (SELECT MAX(publish_date) FROM stock_company_product WHERE pruduct_type = #{productType} AND stock_code = #{stockCode})
        GROUP BY REPLACE(product_name ,'﻿' ,'')
        ORDER BY CONVERT(REPLACE(product_revenue_rate , '%' , '') ,DECIMAL(10,2)) DESC
    </select>
</mapper>