<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockCompanyProfitMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockCompanyProfit">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="stock_code" property="stockCode"/>
        <result column="publish_day" property="publishDay"/>
        <result column="total_income" property="totalIncome"/>
        <result column="business_income" property="businessIncome"/>
        <result column="total_cost" property="totalCost"/>
        <result column="business_cost" property="businessCost"/>
        <result column="total_profit" property="totalProfit"/>
        <result column="business_total_profit" property="businessTotalProfit"/>
        <result column="income_tax" property="incomeTax"/>
        <result column="belong_profit" property="belongProfit"/>
        <result column="final_profit" property="finalProfit"/>
    </resultMap>

    <select id="getCompanyProfitGrowList" parameterType="java.lang.String" resultType="com.sky.vo.StockCompanyProfitVO">
        SELECT
        a.* ,
        ROUND((a.totalProfit - IFNULL(b.totalProfit,a.totalProfit))/a.totalProfit * 100,2) totalProfitGrowRate ,
        ROUND((a.mainBusinessProfit - IFNULL(b.mainBusinessProfit,a.mainBusinessProfit))/a.mainBusinessProfit * 100,2) mainBusinessProfitRate ,
        CASE WHEN a.totalProfit - IFNULL(b.totalProfit,a.totalProfit) > 0 THEN 1
              WHEN a.totalProfit - IFNULL(b.totalProfit,a.totalProfit) = 0 THEN 0
              WHEN a.totalProfit - IFNULL(b.totalProfit,a.totalProfit) &lt; 0 THEN -1
              ELSE 0
              END AS isGrow,
        CASE WHEN a.finalProfit - IFNULL(b.finalProfit,a.finalProfit) > 0 THEN 1
              WHEN a.finalProfit - IFNULL(b.finalProfit,a.finalProfit) = 0 THEN 0
              WHEN a.finalProfit - IFNULL(b.finalProfit,a.finalProfit) &lt; 0 THEN -1
              ELSE 0
              END AS isBelong ,
        CASE WHEN (a.totalProfit - a.operateProfit - a.finalProfit) - (IFNULL(b.totalProfit,a.totalProfit) - IFNULL(b.operateProfit,a.operateProfit) -IFNULL(b.finalProfit,a.finalProfit)) &lt; 0 THEN 1
              WHEN (a.totalProfit - a.operateProfit - a.finalProfit) - (IFNULL(b.totalProfit,a.totalProfit) - IFNULL(b.operateProfit,a.operateProfit) -IFNULL(b.finalProfit,a.finalProfit)) = 0 THEN 0
              WHEN (a.totalProfit - a.operateProfit - a.finalProfit) - (IFNULL(b.totalProfit,a.totalProfit) - IFNULL(b.operateProfit,a.operateProfit) -IFNULL(b.finalProfit,a.finalProfit)) > 0 THEN -1
              ELSE 0
              END AS belongOther
        FROM(
        SELECT
        LEFT(p.publish_day,4) publishYear ,
        ROUND(
        SUM(
        ROUND(p.`business_income`,2) -
        ROUND(p.`business_cost`,2) +
        ROUND(p.business_total_profit,2) -
        ROUND(p.`total_income`,2) +
        ROUND(p.`total_cost`,2) +
        ROUND(p.total_profit,2) -
        ROUND(p.business_total_profit)
        ) / 100000000,2) totalProfit,
        ROUND(SUM(ROUND(p.`business_income`,2) - ROUND(p.`business_cost`,2))/100000000,2) mainBusinessProfit,
        ROUND((SUM(ROUND(p.business_total_profit,2)) - (SUM(ROUND(p.`total_income`,2) - ROUND(p.`total_cost`,2)))) / 100000000,2) viceBusinessProfit,
        ROUND(SUM(ROUND(p.total_profit,2) - ROUND(p.business_total_profit)) /100000000,2) otherProfit ,
        ROUND(SUM(ROUND(p.`total_cost`,2) - ROUND(p.`business_cost`,2)) /100000000,2) operateCost ,
        ROUND(SUM(IFNULL(p.belong_profit,0)) /100000000,2) belongProfit ,
        ROUND(SUM(IFNULL(p.final_profit,0)) /100000000,2) finalProfit,
        ROUND(SUM(ROUND(p.`total_cost`,2) - ROUND(p.`business_cost`,2)) /100000000 ,2) operateProfit ,
        ROUND(
        ROUND(SUM(CASE WHEN REPLACE(SUBSTR(p.publish_day,6,2),'/','') = '3' THEN ROUND(p.`business_income`,2) - ROUND(p.`business_cost`,2) ELSE 0 END)/100000000,2)
        ,2)
        AS firstProfitRate,
        ROUND(
        ROUND(SUM(CASE WHEN REPLACE(SUBSTR(p.publish_day,6,2),'/','') = '6' THEN ROUND(p.`business_income`,2) - ROUND(p.`business_cost`,2) ELSE 0 END)/100000000,2)
        ,2)
        AS secondProfitRate,
        ROUND(
        ROUND(SUM(CASE WHEN REPLACE(SUBSTR(p.publish_day,6,2),'/','') = '9' THEN ROUND(p.`business_income`,2) - ROUND(p.`business_cost`,2) ELSE 0 END)/100000000,2)
        ,2)
        AS threeProfitRate,
        ROUND(
        ROUND(SUM(CASE WHEN REPLACE(SUBSTR(p.publish_day,6,2),'/','') = '12' THEN ROUND(p.`business_income`,2) - ROUND(p.`business_cost`,2) ELSE 0 END)/100000000,2)
        ,2)
        AS forthtProfitRate,

        ROUND(SUM(ROUND(p.`total_cost`,2) - ROUND(p.`business_cost`,2)) /
        SUM(
        ROUND(p.`business_income`,2) -
        ROUND(p.`business_cost`,2) +
        ROUND(p.business_total_profit,2) -
        ROUND(p.`total_income`,2) +
        ROUND(p.`total_cost`,2) +
        ROUND(p.total_profit,2) -
        ROUND(p.business_total_profit)
        )
         * 100,2) operateProfitRate,
        ROUND(SUM(IFNULL(p.belong_profit,0)) /
        SUM(
        ROUND(p.`business_income`,2) -
        ROUND(p.`business_cost`,2) +
        ROUND(p.business_total_profit,2) -
        ROUND(p.`total_income`,2) +
        ROUND(p.`total_cost`,2) +
        ROUND(p.total_profit,2) -
        ROUND(p.business_total_profit)
        )
        * 100,2) belongProfitRate,
        ROUND(SUM(IFNULL(p.final_profit,0)) /
        SUM(
        ROUND(p.`business_income`,2) -
        ROUND(p.`business_cost`,2) +
        ROUND(p.business_total_profit,2) -
        ROUND(p.`total_income`,2) +
        ROUND(p.`total_cost`,2) +
        ROUND(p.total_profit,2) -
        ROUND(p.business_total_profit)
        )
        * 100,2) finalProfitRate

        FROM stock_company_profit p
        WHERE p.stock_code = #{stockCode}
        AND IFNULL(p.`total_income`,0) > 0
        AND IFNULL(p.`business_income`,0) > 0
        AND IFNULL(p.`total_cost`,0) > 0
        AND IFNULL(p.`business_cost`,0) > 0
        GROUP BY LEFT(p.publish_day,4)
        ) a
        LEFT JOIN
        (
        SELECT
        LEFT(p.publish_day,4) publishYear ,
        ROUND(
        SUM(
        ROUND(p.`business_income`,2) -
        ROUND(p.`business_cost`,2) +
        ROUND(p.business_total_profit,2) -
        ROUND(p.`total_income`,2) +
        ROUND(p.`total_cost`,2) +
        ROUND(p.total_profit,2) -
        ROUND(p.business_total_profit)
        ) / 100000000,2) totalProfit,
        ROUND(SUM(ROUND(p.`business_income`,2) - ROUND(p.`business_cost`,2))/100000000,2) mainBusinessProfit,
        ROUND((SUM(ROUND(p.business_total_profit,2)) - (SUM(ROUND(p.`total_income`,2) - ROUND(p.`total_cost`,2)))) / 100000000,2) viceBusinessProfit,
        ROUND(SUM(ROUND(p.total_profit,2) - ROUND(p.business_total_profit)) /100000000,2) otherProfit ,
        ROUND(SUM(ROUND(p.`total_cost`,2) - ROUND(p.`business_cost`,2)) /100000000,2) operateCost ,
        ROUND(SUM(IFNULL(p.belong_profit,0)) /100000000,2) belongProfit ,
        ROUND(SUM(IFNULL(p.final_profit,0)) /100000000,2) finalProfit,
        ROUND(SUM(ROUND(p.`total_cost`,2) - ROUND(p.`business_cost`,2)) /100000000 ,2) operateProfit
        FROM stock_company_profit p
        WHERE p.stock_code = #{stockCode}
        AND IFNULL(p.`total_income`,0) > 0
        AND IFNULL(p.`business_income`,0) > 0
        AND IFNULL(p.`total_cost`,0) > 0
        AND IFNULL(p.`business_cost`,0) > 0
        GROUP BY LEFT(p.publish_day,4)
        )b ON a.publishYear = (b.publishYear + 1)
        ORDER BY a.publishYear
    </select>

    <select id="getRecentCompanyProfitList" parameterType="java.lang.String" resultType="com.sky.vo.CompanyProfit_VO">
        SELECT
        stock_code stockCode,
        DATE_FORMAT(publish_day ,'%Y') publishYear,
        SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
        FROM stock_company_profit
        WHERE stock_code = #{stockCode}
        AND DATE_FORMAT(publish_day ,'%Y') BETWEEN #{startYear} AND #{endYear}
        GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ORDER BY DATE_FORMAT(publish_day ,'%Y')
    </select>

    <select id="getMaxAndMinCompanyProfit" parameterType="java.lang.String" resultType="com.sky.vo.CompanyProfit_VO">
        SELECT
        a.stock_code stockCode,
        MAX(a.totalProfit) maxProfit ,
        MIN(a.totalProfit) minProfit
        FROM(
            SELECT
            stock_code ,
            DATE_FORMAT(publish_day ,'%Y') publishYear,
            SUM(CONVERT(total_profit,DECIMAL(20,2))) totalProfit
            FROM stock_company_profit
            WHERE stock_code = #{stockCode}
            AND DATE_FORMAT(publish_day ,'%Y') BETWEEN #{startYear} AND #{endYear}
            GROUP BY stock_code,DATE_FORMAT(publish_day ,'%Y')
        ) a
    </select>
</mapper>