<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.StockTigerListMapper">
    <resultMap id="BaseResultMap" type="com.sky.model.StockTigerList">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="isvalid" property="isvalid"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>

        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="publish_time" property="publishTime"/>
        <result column="upper_range" property="upperRange"/>
        <result column="hand_rate" property="handRate"/>
        <result column="focus_reason" property="focusReason"/>
        <result column="buy_money" property="buyMoney"/>
        <result column="sell_money" property="sellMoney"/>
        <result column="unusual_reason" property="unusualReason"/>
        <result column="choose_reason" property="chooseReason"/>
    </resultMap>

    <select id="getStockTigerList" parameterType="java.lang.String" resultType="com.sky.vo.StockTigerList_VO">
        SELECT
        t.`id`,
        t.publish_time publishTime,
        t.stock_code stockCode,
        t.stock_name stockName,
        b.`stock_plate` stockPlate,
        t.upper_range upperRange,
        t.hand_rate handRate,
        t.buy_money buyMoney,
        t.sell_money sellMoney,
        t.focus_reason focusReason,
        b.`big_contry_sector` bigContrySector,
        b.`middle_contry_sector` middleContrySector,
        b.`stock_sector` stockSector ,
        t.`unusual_reason` unusualReason ,
        t.`choose_reason` chooseReason
        FROM stock_tiger_list t
        LEFT JOIN stock_company_base b ON t.`stock_code` = b.`stock_a_code`
        WHERE t.`isvalid` = 1
        <if test="stockCode != null and stockCode != '' and stockCode != 'undefined'">
            AND t.`stock_code` REGEXP #{stockCode}
        </if>
        <if test="stockName != null and stockName != '' and stockName != 'undefined'">
            AND t.`stock_name` REGEXP #{stockName}
        </if>
        <if test="startDay != null and startDay != '' and startDay != 'undefined'">
            AND t.`publish_time` >= #{startDay}
        </if>
        <if test="endDay != null and endDay != '' and endDay != 'undefined'">
            AND t.`publish_time` &lt; #{endDay}
        </if>
        ORDER BY t.`upper_range` DESC,t.stock_code
    </select>
</mapper>