html,body{
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
}
.sy-navbar{
	height: 65px;
	width: 100%;
	margin:0px;
	border:0;
	border-radius: 0;
	background: #575e63;
	color: #fff;
	/*text-shadow: 0 1px 1px #000;*/
	letter-spacing: 0.09em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
	background: -webkit-linear-gradient(top, #575e63, #3f4347);
	background: -moz-linear-gradient(top, #575e63, #3f4347);
	background: -ms-linear-gradient(top, #575e63, #3f4347);
	background: -o-linear-gradient(top, #575e63, #3f4347);
}
.sy-navbar a.navbar-brand{
	line-height: 36px;
	color: #fff;
	font-family: STXingkai;
	font-size: 28px
}
.sy-navbar .dropdown{
	margin-right: 0;
	line-height: 60px;
}
.sy-navbar .dropdown button{
	width: 58px;
	height: 58px;
	border-radius: 29px;
	padding: 0;
	background:url('head.png') no-repeat left top;
	background-size:100% 100%;
}
.sy-navbar .message-alert{
	line-height: 64px;
	margin-right: 30px;
}
.sy-navbar .message-alert span{
	cursor: pointer;
}
.sy-body{
	height: calc(100% - 65px);
}
.sy-body .body-menu{
	float: left;
	width: 15%;
	height: 100%;
	background: #575e63;
}
.sy-body .body-menu ul{
	margin: 0;
	border: 0;
	padding: 0;
}
.sy-body .body-container{
	width: 100%;
	height: 100%;
}
.sy-body .body-container .nav-tabs{
	border-radius:0;
	margin-bottom: 0;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #ffffff;
}
/*.sy-body .body-container .breadcrumb a{*/
	/*color: #007bff;*/
/*}*/
/*.sy-body .body-container .breadcrumb .active{*/
	/*color: #353030;*/
/*}*/
/*.sy-body .body-container .breadcrumb>li+li:before {*/
	/*padding: 0 5px;*/
	/*color: #ccc;*/
	/*content: "/\00a0";*/
/*}*/
.sy-body .body-container .sroll-container{
	height: calc(100% - 42px);
	overflow-y: auto;
}
.sy-body .body-container .sroll-container .row{
	margin:0;
}
.sy-body .body-container .sroll-container .row form{
	width: 100%;
}
.sy-body  .body-menu ul.menu-first-ul{
	overflow-y: auto;
}
.sy-body  .body-menu ul li{
	font-size: 16px;
	list-style-type:none;
}
.sy-body  .body-menu ul li span.menu-title{
	cursor: pointer;
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	outline: none;
	font-weight: 700;
	background: #575e63;
	border-top: 1px solid #878e98;
	border-bottom: 1px solid #33373d;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	letter-spacing: 0.09em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
	background: -webkit-linear-gradient(top, #575e63, #3f4347);
	background: -moz-linear-gradient(top, #575e63, #3f4347);
	background: -ms-linear-gradient(top, #575e63, #3f4347);
	background: -o-linear-gradient(top, #575e63, #3f4347);
}

.sy-body  .body-menu ul li span:hover {
	background: #566f82; /* fallback colour */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));
	background: -webkit-linear-gradient(top, #566f82, #3e505e);
	background: -moz-linear-gradient(top, #566f82, #3e505e);
	background: -ms-linear-gradient(top, #566f82, #3e505e);
	background: -o-linear-gradient(top, #566f82, #3e505e);
}

.sy-body  .body-menu .menu-second-ul li{
	padding-top:5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #303335;
	background: #575e63;
	color: #fff;
}
.sy-body  .body-menu .menu-second-ul li:hover{
	border-left: 5px solid #117cca;
	color: #FFA500;
	background: #566f82;
}

.sy-body  .body-menu .menu-second-ul li.click-menu{
	border-left: 5px solid #117cca;
	color: #FFA500;
	background: #566f82;
}

.sy-body  .body-menu .menu-second-ul li a{
	padding-left: 25px;
	color:#fff;
	text-decoration:none;
	display: block;
}
@media screen and (max-width: 960px){
	.sy-body .body-menu{
		display: none;
	}
	.sy-body .body-container{
		width: 100%;
		height: 100%;
	}
}

/*------------------------------------------------------------------------------*/
.modal-dialog .modal-content .modal-footer{
	text-align: center;
}
.modal-dialog .modal-content .modal-header{
	text-align: center;
	background: #575e63;
	color: #fff;
	font-family: STXingkai;
	padding: 10px;
}
.modal-dialog .modal-content .modal-header button.close{
	color: #fff;
	opacity: 1;
}
.modal-dialog .modal-content .modal-footer button:first-child{
	margin-right: 15%;
}
.panel .form-heading{
	text-align: center;
	font-size: 20px;
}
.panel .form-footer{
	text-align: center;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
.panel .form-footer button:first-child{
	margin-right: 15%;
}
.btn-primary {
	color: #fff;
	background-color: #575e63;
	border-color: #575e63;
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #575e63;
	border-color: #575e63;
}
.btn-primary:hover {
	color: #fff;
	background-color: #737a80;
	border-color: #575e63;
}

.search-list-panel{
	margin-bottom: 0;
}
.search-list-panel .panel-heading{
	color: #fff;
	background-color: #575e63;
	border-color: #575e63;
}
/*.search-list-panel .panel-heading button.search-button{*/
	/*padding: 3px 10px;*/
	/*float:right;*/
	/*margin-right:20px*/
/*}*/
/*.search-list-panel .panel-heading button.collapse-button{*/
	/*margin-top: 2px;*/
	/*padding: 0;*/
	/*float:right;*/
	/*margin-right:10px ;*/
	/*height: 23px;*/
	/*width: 23px;*/
	/*border-radius: 13px;*/
	/*background: #fff; !* fallback colour *!*/
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ece7e7));*/
	/*background: -webkit-linear-gradient(top, #fff, #ece7e7);*/
	/*background: -moz-linear-gradient(top, #fff, #ece7e7);*/
	/*background: -ms-linear-gradient(top, #fff, #ece7e7);*/
	/*background: -o-linear-gradient(top, #fff, #ece7e7);*/
	/*outline:none;*/
/*}*/
/*.search-list-panel .panel-heading button.collapse-button .glyphicon-chevron-down{*/
	/*top:3px;*/
/*}*/
.pagination>li>a{
	color: #575e63;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #575e63;
	border-color: #575e63;
}
.param-left-box{
	padding-right: 5px;
	text-align: center;
}
.param-middle-box{
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}
.param-right-box{
	padding-left: 5px;
	text-align: center;
}
.param-right-box .checkbox{
	padding-left: 30px;
}
.param-button-box{
	padding-left: 0px;
	text-align: left;
}
.form-input-show{
	padding-top: 7px;
	border-bottom: 1px dashed #000;
}

.text_link_a{
	text-decoration: none;
	cursor: pointer;
	color: #0285f5;
}

.glyphicon-remove{
	margin-left: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}
.glyphicon-remove:hover{
	transform: scale(1.4);
}
.nav-tabs{
	height: 42px;
}
.nav-tabs>li{
	/*border-left: 1px solid #575e63;*/
	border-right: 1px solid #ddd;
}
.nav-tabs>li>a{
	border-radius:0px;
	color: #000000;
	height: 42px;
	margin-right: 0;
	font-size: 14px;
}
.nav-tabs>li:hover{
	height: 40px;
}
.nav-tabs>a{
	color: #000000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #fff;
	background-color: #575e63;
	border-color: #575e63;
	background: #575e63;
}
.nav-tabs{
	border-bottom: 2px solid #575e63;
}

::-webkit-scrollbar
{
	width: 16px;
	height: 16px;
	background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
