<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
</head>
<body layout:fragment="content">
<style type="text/css">
    .form-title{
        background-color: #575e63;
        color: white;
        text-align: center;
        border-color: #33373d;
        padding: 8px;
        margin-left: 60px;
    }
    .form-input-show{
        padding-top: 7px;
        border-bottom: 1px dashed #000;
    }
</style>
<div class="container">
    <input type="hidden" class="form-control" id="id" th:value="${id}">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#companyBaseInfo" data-toggle="tab">基本信息</a></li>
        <li><a href="#companyProduct" data-toggle="tab">经营分析</a></li>
        <li><a href="#companyFinance" data-toggle="tab">财务分析</a></li>
    </ul>
    <div id="myTabContent" class="tab-content" style="padding-top: 15px;">
        <div class="tab-pane fade in active" id="companyBaseInfo">
            <form id="formSearch" class="form-horizontal">
                <div class="alert alert-info form-title">市场信息</div>
                <div class="form-group">
                    <label class="control-label col-sm-2">市场编码：</label>
                    <div class="col-sm-4 form-input-show" id="listCode"></div>
                    <label class="control-label col-sm-2">市场名称：</label>
                    <div class="col-sm-4 form-input-show" id="listName"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">所属市场：</label>
                    <div class="col-sm-4 form-input-show" id="listMarket"></div>
                    <label class="control-label col-sm-2">所属板块：</label>
                    <div class="col-sm-4 form-input-show" id="listSector"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">上市时间：</label>
                    <div class="col-sm-4 form-input-show" id="listTime"></div>
                    <label class="control-label col-sm-2">发行总量：</label>
                    <div class="col-sm-4 form-input-show" id="listNumber"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">发行价格：</label>
                    <div class="col-sm-4 form-input-show" id="listPrice"></div>
                    <label class="control-label col-sm-2">发行市值：</label>
                    <div class="col-sm-4 form-input-show" id="listMoney"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">市场行业：</label>
                    <div class="col-sm-4 form-input-show" id="listIndustry"></div>
                    <label class="control-label col-sm-2">市值排名：</label>
                    <div class="col-sm-4 form-input-show" id="listOrder"></div>
                </div>

                <div class="alert alert-info form-title">公司信息</div>
                <div class="form-group">
                    <label class="control-label col-sm-2">公司名称：</label>
                    <div class="col-sm-4 form-input-show" id="companyName"></div>
                    <label class="control-label col-sm-2">所属区域：</label>
                    <div class="col-sm-4 form-input-show" id="companyRegion"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">成立时间：</label>
                    <div class="col-sm-4 form-input-show" id="establishTime"></div>
                    <label class="control-label col-sm-2">注册资本：</label>
                    <div class="col-sm-4 form-input-show" id="registerMoney"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">所属行业：</label>
                    <div class="col-sm-4 form-input-show" id="companyIndustry"></div>
                    <label class="control-label col-sm-2">行业细分：</label>
                    <div class="col-sm-4 form-input-show" id="companyIndustryDetail"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">运营地区：</label>
                    <div class="col-sm-10 form-input-show" id="businessArea"></div>
                </div>
                <div class="alert alert-info form-title">涉及行业</div>
                <div class="form-group">
                    <label class="control-label col-sm-2">主营行业：</label>
                    <div class="col-sm-4 form-input-show" id="mainRelateIndustry"></div>
                    <label class="control-label col-sm-2">副营行业-1：</label>
                    <div class="col-sm-4 form-input-show" id="viceRelateIndustryOne"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">副营行业-2：</label>
                    <div class="col-sm-4 form-input-show" id="viceRelateIndustryTwo"></div>
                    <label class="control-label col-sm-2">副营行业-3：</label>
                    <div class="col-sm-4 form-input-show" id="viceRelateIndustryThree"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">副营行业-4：</label>
                    <div class="col-sm-4 form-input-show" id="viceRelateIndustryFour"></div>
                    <label class="control-label col-sm-2">副营行业-5：</label>
                    <div class="col-sm-4 form-input-show" id="viceRelateIndustryFive"></div>
                </div>
                <div class="alert alert-info form-title">涉及产品</div>
                <div class="form-group">
                    <label class="control-label col-sm-2">主营产品：</label>
                    <div class="col-sm-4 form-input-show" id="mainProduceProduct"></div>
                    <label class="control-label col-sm-2">副营产品-1：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductOne"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">副营产品-2：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductTwo"></div>
                    <label class="control-label col-sm-2">副营产品-3：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductThree"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">副营产品-4：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductFour"></div>
                    <label class="control-label col-sm-2">副营产品-5：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductFive"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">副营产品-6：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductSix"></div>
                    <label class="control-label col-sm-2">副营产品-7：</label>
                    <div class="col-sm-4 form-input-show" id="viceProduceProductSeven"></div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="companyProduct">
            <div class="panel panel-default">
                <div class="panel-heading">
                    不带 title 的面板标题
                </div>
                <div class="panel-body">
                    <div id="companyProductPie" style="width:1100px;height:400px;"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    不带 title 的面板标题
                </div>
                <div class="panel-body">
                    <div id="companyProductBar" style="width:1100px;height:400px;"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    不带 title 的面板标题
                    <button class="btn btn-default btn-xs" id="addCompanyProductData"  data-toggle="modal" data-target="#companyProductModal">添加</button>
                </div>
                <div class="panel-body" style="padding-top: 0px;">
                    <table id="companyProductTable"></table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="companyFinance">
            <div class="panel panel-default">
                <div class="panel-heading">
                    不带 title 的面板标题
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（添加经营数据） -->
<div class="modal fade" id="companyProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">添加经营数据</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">经营分类：</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="operateType">
                                <option value="1">按行业分类</option>
                                <option value="2">按产品分类</option>
                                <option value="3">按地域分类</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营构成：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="typeName" placeholder="主营构成">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">发布日期：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="publishDate" placeholder="发布日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营收入：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="operateRevenue" placeholder="主营收入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营收入率(%)：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="operateRevenueRate" placeholder="主营收入率">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营成本：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="operateCost" placeholder="主营成本">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营成本率(%)：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="operateCostRate" placeholder="主营成本率">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营利润：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="operateProfit" placeholder="主营利润">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">主营利润率(%)：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="operateProfitRate" placeholder="主营利润率">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitDataButton">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
<th:block layout:fragment = "bodyAssets">
    <script type="text/javascript" src = "/js/page/companyInformationEdit.js" th:src="@{/js/page/companyAllInfomationStatictis.js}"></script>
</th:block>
</html>