<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-table/css/bootstrap-table.css">
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/libs/select2/css/select2.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body style="padding: 20px;">
<ul id="myTab" class="nav nav-tabs">
    <li id="mainButton" class="active">
        <a href="#home" data-toggle="tab">
            指数统计
        </a>
    </li>
    <li onclick="drawCommonBarStatic('信息技术' , 'technology')"><a href="#technology" data-toggle="tab">信息技术</a></li>
    <li onclick="drawCommonBarStatic('电信业务' , 'communicate')"><a href="#communicate" data-toggle="tab">电信业务</a></li>
    <li onclick="drawCommonBarStatic('可选消费' , 'choseCust')"><a href="#choseCust" data-toggle="tab">可选消费</a></li>
    <li onclick="drawCommonBarStatic('主要消费' , 'mainCust')"><a href="#mainCust" data-toggle="tab">主要消费</a></li>
    <li onclick="drawCommonBarStatic('能源' , 'energy')"><a href="#energy" data-toggle="tab">能源</a></li>
    <li onclick="drawCommonBarStatic('原材料' , 'material')"><a href="#material" data-toggle="tab">原材料</a></li>
    <li onclick="drawCommonBarStatic('工业' , 'industry')"><a href="#industry" data-toggle="tab">工业</a></li>
    <li onclick="drawCommonBarStatic('金融地产' , 'financial')"><a href="#financial " data-toggle="tab">金融地产</a></li>
    <li onclick="drawCommonBarStatic('医药卫生' , 'medicine')"><a href="#medicine" data-toggle="tab">医药卫生</a></li>
    <li onclick="drawCommonBarStatic('公用事业' , 'publicService')"><a href="#publicService" data-toggle="tab">公用事业</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <div class="panel panel-default search-list-panel">
            <div id="collapseBox" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal">
                        <div class="form-group" style="margin-top:15px">
                            <label class="control-label col-sm-1">日期：</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="start_day">
                                    <option value="2015-01-01">2015-01-01 至 2020-01-01</option>
                                </select>
                            </div>
                            <button type="button" id="searchDataButton" class="btn btn-default btn-sm search-button">查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="main" style="width:100%;height:400px;"></div>

        <div id="weekBar" style="width:100%;height:400px;"></div>

        <div id="dayBar" style="width:100%;height:400px;"></div>

        <table id="tableList"></table>
    </div>
    <div class="tab-pane fade" id="technology">
        <div class="panel panel-default" id="accordionTechnologyMonth" style="margin-top: 20px;">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTechnologyMonth" href="#collapseTechnologyMonth">
                信息技术——月统计
            </div>
            <div id="collapseTechnologyMonth" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="technologyMonth" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="accordionTechnologyWeek">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTechnologyWeek" href="#collapseTechnologyWeek">
                信息技术——周统计
            </div>
            <div id="collapseTechnologyWeek" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="technologyWeek" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="accordionTechnologyDay">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTechnologyDay" href="#collapseTechnologyDay">
                信息技术——日统计
            </div>
            <div id="collapseTechnologyDay" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="technologyDay" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="accordionSemiconductorMonth" style="margin-top: 20px;">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSemiconductorMonth" href="#collapseSemiconductorMonth">
                半导体——月统计
            </div>
            <div id="collapseSemiconductorMonth" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="semiconductorMonth" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="accordionPhotoelectronMonth" style="margin-top: 20px;">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionPhotoelectronMonth" href="#collapsePhotoelectronMonth">
                半导体——月统计
            </div>
            <div id="collapsePhotoelectronMonth" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="photoelectronMonth" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="communicate">
        <div class="panel panel-default" id="accordionCommunicateMonth">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCommunicateMonth" href="#collapseCommunicateMonth">
                电信业务——月统计
            </div>
            <div id="collapseCommunicateMonth" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="communicateMonth" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="accordionCommunicateWeek">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCommunicateWeek" href="#collapseCommunicateWeek">
                电信业务——周统计
            </div>
            <div id="collapseCommunicateWeek" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="communicateWeek" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="accordionCommunicateDay">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCommunicateDay" href="#collapseCommunicateDay">
                电信业务——日统计
            </div>
            <div id="collapseCommunicateDay" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="communicateDay" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="choseCust">
        <div id="choseCustMonth" style="width:100%;height:400px;"></div>
        <div id="choseCustWeek" style="width:100%;height:400px;"></div>
        <div id="choseCustDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="mainCust">
        <div id="mainCustMonth" style="width:100%;height:400px;"></div>
        <div id="mainCustWeek" style="width:100%;height:400px;"></div>
        <div id="mainCustDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="energy">
        <div id="energyMonth" style="width:100%;height:400px;"></div>
        <div id="energyWeek" style="width:100%;height:400px;"></div>
        <div id="energyDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="material">
        <div id="materialMonth" style="width:100%;height:400px;"></div>
        <div id="materialWeek" style="width:100%;height:400px;"></div>
        <div id="materialDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="industry">
        <div id="industryMonth" style="width:100%;height:400px;"></div>
        <div id="industryWeek" style="width:100%;height:400px;"></div>
        <div id="industryDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="financial">
        <div id="financialMonth" style="width:100%;height:400px;"></div>
        <div id="financialWeek" style="width:100%;height:400px;"></div>
        <div id="financialDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="medicine">
        <div id="medicineMonth" style="width:100%;height:400px;"></div>
        <div id="medicineWeek" style="width:100%;height:400px;"></div>
        <div id="medicineDay" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="publicService">
        <div id="publicServiceMonth" style="width:100%;height:400px;"></div>
        <div id="publicServiceWeek" style="width:100%;height:400px;"></div>
        <div id="publicServiceDay" style="width:100%;height:400px;"></div>
    </div>
</div>

</body>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/js/bootstrap-table.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/libs/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/libs/echarts-2.2.7/echarts.min.js"></script>
<script type="text/javascript" src="/js/common-model.js"></script>
<script type="text/javascript" src="/js/sky.ajax.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src = "/js/page/handleSectorCycleList.js"></script>
</html>