<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-table/css/bootstrap-table.css">
    <link rel="stylesheet" href="/libs/webuploader-0.1.5/webuploader.css">
    <link rel="stylesheet" href="/libs/webuploader-0.1.5/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<style>
    .english-word-talbe{
        width: 100%;
        margin-top: 15px;
        border-radius: 5px;
        /*border: 1px solid #000000;*/
    }
    .english-word-talbe th,td{
        text-align: left;
        border: 1px solid #ccc;
    }
</style>

<div class="panel panel-default search-list-panel">
    <div class="panel-heading">查询条件
        <button type="button" class="btn btn-default collapse-button"   data-toggle="collapse" data-parent="#accordion"  href="#collapseBox"><span class="glyphicon glyphicon-chevron-down"></span></button>
        <button type="button" id="searchDataButton" class="btn btn-default btn-sm search-button">查询</button>
    </div>
    <div id="collapseBox" class="panel-collapse collapse in">
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1">片段：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="s_fragment" name="fragment">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="english-word-talbe">
    <thead>
      <th style="text-align: center;color:#3e505e;">片段</th>
      <th style="text-align: center;color:#3e505e;">英文</th>
      <th style="text-align: center;color:#3e505e;">音标</th>
      <th style="text-align: center;color:#3e505e;">中文</th>
    </thead>
    <tbody id="englishClassBody">

    </tbody>
</table>
</body>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-treeview/js/bootstrap-treeview.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/js/bootstrap-table.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/libs/echarts-2.2.7/echarts-all.js"></script>
<script type="text/javascript" src="/libs/webuploader-0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/js/common-model.js"></script>
<script type="text/javascript" src="/js/sky.ajax.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src = "/js/page/learnEnglishClassList.js"></script>
</html>