<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-table/css/bootstrap-table.css">
    <link rel="stylesheet" href="/libs/select2/css/select2.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body style="padding: 20px;">

<div class="panel panel-default search-list-panel">
    <div id="collapseBox" class="panel-collapse collapse in">
        <div class="panel-body">
            <input type="hidden" id="first_1_Sector" th:value="${firstSector}">
            <input type="hidden" id="second_1_Sector" th:value="${secondSector}">
            <input type="hidden" id="third_1_Secotor" th:value="${thirdSecotor}">
            <input type="hidden" id="forth_1_Sector" th:value="${forthSector}">
            <input type="hidden" id="first_1_Hot" th:value="${firstHot}">
            <input type="hidden" id="second_1_Hot" th:value="${secondHot}">
            <input type="hidden" id="third_1_Hot" th:value="${thirdHot}">
            <input type="hidden" id="forth_1_Hot" th:value="${forthHot}">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1">一级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="first_sector" onchange="getSelectOption('second_sector' , this)">

                        </select>
                    </div>
                    <label class="control-label col-sm-1">二级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="second_sector" onchange="getSelectOption('third_secotor' , this)">

                        </select>
                    </div>
                    <label class="control-label col-sm-1">三级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="third_secotor" onchange="getSelectOption('forth_sector' , this)">

                        </select>
                    </div>
                    <label class="control-label col-sm-1">四级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="forth_sector">

                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1">一级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="first_hot" onchange="getHotOption('second_hot' , 'firstClass' , this)">

                        </select>
                    </div>
                    <label class="control-label col-sm-1">二级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="second_hot" onchange="getHotOption('third_hot' , 'secondClass' , this)">

                        </select>
                    </div>
                    <label class="control-label col-sm-1">三级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="third_hot" onchange="getHotOption('forth_hot' , 'thirdClass' , this)">

                        </select>
                    </div>
                    <label class="control-label col-sm-1">四级：</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="forth_hot">

                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1">编码：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="stock_code" th:value="${stockCode}">
                    </div>
                    <label class="control-label col-sm-1">名称：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="stock_name" th:value="${stockName}">
                    </div>
                    <button type="button" id="searchDataButton" class="btn btn-primary search-button">查询</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="toolbar" class="btn-group">
    <!--<button type="button" class="btn btn-default"  id="addDataButton" data-toggle="modal" data-target="#myModal">-->
    <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增-->
    <!--</button>-->
</div>
<table id="tableList"></table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">编辑信息</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="hidden" class="form-control" id="stockCode" >
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="stockName" placeholder="名称" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="forthSector" placeholder="行业" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">企业级别：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="companyLevel">
                                <option value="6">S 级</option>
                                <option value="5">A 级</option>
                                <option value="4">B 级</option>
                                <option value="3">C 级</option>
                                <option value="2">D 级</option>
                                <option value="1">E 级</option>
                                <option value="9">成长级</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">五级行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="fiveSector" placeholder="五级行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">行业排序：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="fiveOrder">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">主营业务：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="mainBusiness" placeholder="主营业务">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务一级行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="belongFirstSecotr" placeholder="归属一级行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务二级行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="belongSecondSector" placeholder="归属二级行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务三级行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="belongThirdSector" placeholder="归属三级行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务四级级行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="belongForthSector" placeholder="归属三级行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">企业特色：</label>
                        <div class="col-sm-8">
                            <label class="radio-inline" th:each="item,itemStat:${qualityList}" style="padding-left: 0;">
                                <input type="checkbox" name="companyQuality" th:value="${item.paramIdentity}" th:text="${item.paramName}">
                            </label>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">企业简介：</label>-->
                        <!--<div class="col-sm-8" id="companyDscr">-->

                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitDataButton">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/js/bootstrap-table.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/libs/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/js/common-model.js"></script>
<script type="text/javascript" src="/js/sky.ajax.js"></script>
<script type="text/javascript" src = "/js/page/stockSectorCompanyList.js"></script>
</html>