<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/libs/select2/css/select2.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <style>
        .my_table_title{
            width: 10%;
            text-align: center;
            font-weight: bold;
            vertical-align: middle!important;
        }
        .my_table_content{
            width: 22%;
        }
    </style>
</head>
<body style="padding: 20px;">
<input type="hidden" id="type" th:value="${type}">
<input type="hidden" id="stock_code" th:value="${stock_code}">
<input type="hidden" id="stockCode" th:value="${stockCode}">
<input type="hidden" id="stockName" th:value="${stockName}">
<input type="hidden" id="firstSector" th:value="${firstSector}">
<input type="hidden" id="secondSector" th:value="${secondSector}">
<input type="hidden" id="thirdSecotor" th:value="${thirdSecotor}">
<input type="hidden" id="forthSector" th:value="${forthSector}">
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">
            基本信息
        </a>
    </li>
    <li><a href="#investor" data-toggle="tab">持仓机构</a></li>
    <button type="button" class="btn btn-primary" id="backButton" style="float: right;">返回</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" style="float: right;margin-right: 20px;">编辑</button>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <table class="table table-bordered" style="margin-top:10px;">
            <tr>
                <td class="my_table_title">企业编码</td>
                <td class="my_table_content" id="t_stockCode"></td>
                <td class="my_table_title">企业名称</td>
                <td class="my_table_content" id="t_companyName"></td>
                <td class="my_table_title">企业性质</td>
                <td class="my_table_content" id="t_companyClass"></td>
            </tr>
            <tr>
                <td class="my_table_title">成立时间</td>
                <td class="my_table_content" id="t_establishDay"></td>
                <td class="my_table_title">上市时间</td>
                <td class="my_table_content" id="t_publishDay"></td>
                <td class="my_table_title">上市年限</td>
                <td class="my_table_content" id="t_spaceYear"></td>
            </tr>
            <tr>
                <td class="my_table_title">发行股本</td>
                <td class="my_table_content" id="t_publishCount"></td>
                <td class="my_table_title">流通股本</td>
                <td class="my_table_content" id="t_flowCount"></td>
                <td class="my_table_title">流通占比</td>
                <td class="my_table_content" id="t_flowRate"></td>
            </tr>
            <tr>
                <td class="my_table_title">市场地位</td>
                <td class="my_table_content" id="t_marketOrder"></td>
                <td class="my_table_title">产业地位</td>
                <td class="my_table_content" id="t_sectorOrder"></td>
                <td class="my_table_title">企业类型</td>
                <td class="my_table_content" id="t_companyType"></td>
            </tr>
            <tr>
                <td class="my_table_title">地理位置</td>
                <td class="my_table_content" id="t_companyRegion"></td>
                <td class="my_table_title">企业特点</td>
                <td class="my_table_content" id="t_companyStrength"></td>
                <td class="my_table_title">企业潜力</td>
                <td class="my_table_content" id="t_companyChance"></td>
            </tr>
            <tr>
                <td colspan="6" style="padding: 0px;">
                    <table class="table table-bordered" style="padding:0px;margin: 0px;border: 0px;">
                       <tbody id="productBox">

                       </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="my_table_title">产品用途</td>
                <td class="my_table_content" id="t_mainBusiness" colspan="5"></td>
            </tr>
            <tr>
                <td colspan="6" style="padding: 0px;">
                    <table class="table table-bordered" style="padding:0px;margin: 0px;border: 0px;">
                        <tr>
                            <td class="my_table_title" style="border:0; width: 9.9%">市场划分</td>
                            <td id="t_marketClass"  style="border-top:0; border-bottom: 0;width: 40.1%"></td>
                            <td class="my_table_title" style="border:0; width: 9.9%">国际认可</td>
                            <td id="t_internalOrganize" style="border-top:0; border-right: 0; border-bottom: 0;width: 40.1%"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="my_table_title">关注对象</td>
                <td class="my_table_content" id="t_focusOrganize" colspan="5"></td>
            </tr>
            <tr>
                <td class="my_table_title">热点内容</td>
                <td class="my_table_content" id="t_groupHot" colspan="5"></td>
            </tr>
            <tr>
                <td class="my_table_title" rowspan="2">盈利情况</td>
                <td class="my_table_content" colspan="5"><div id="profitGrowMain" style="width:100%;height:350px;"></div></td>
            </tr>
            <tr>
                <td class="my_table_content" colspan="5"><div id="profitSeasonMain" style="width:100%;height:350px;"></div></td>
            </tr>
            <tr>
                <td class="my_table_title">资产情况</td>
                <td class="my_table_content" colspan="5"><div id="assetGrowMain" style="width:100%;height:350px;"></div></td>
            </tr>
            <tr>
                <td class="my_table_title">市场周期</td>
                <td class="my_table_content" colspan="5"><div id="companyMonth" style="width:100%;height:350px;"></div></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="investor">

        <div id="profitBelongMain" style="width:100%;height:400px;"></div>
        <div id="profitOperateRelation" style="width:100%;height:400px;"></div>
        <div id="profitGrowRate" style="width:100%;height:400px;"></div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">编辑信息</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="f_stockName" placeholder="名称" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="f_forthSector" placeholder="行业" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">企业级别：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="f_companyLevel">
                                <option value="6">S 级</option>
                                <option value="5">A 级</option>
                                <option value="4">B 级</option>
                                <option value="3">C 级</option>
                                <option value="2">D 级</option>
                                <option value="1">E 级</option>
                                <option value="9">成长级</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">五级行业：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="f_fiveSector" placeholder="五级行业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">行业排序：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="f_fiveOrder">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">主营业务：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="f_mainBusiness" placeholder="主营业务">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务一级行业：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="f_belongFirstSecotr" onchange="changeSecondBelongSector(this)">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务二级行业：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="f_belongSecondSector" onchange="changeThirdBelongSector(this)">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务三级行业：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="f_belongThirdSector" onchange="changeForthBelongSector(this)">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">服务四级行业：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="f_belongForthSector">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">企业特色：</label>
                        <div class="col-sm-8">
                            <label class="radio-inline" th:each="item,itemStat:${qualityList}" style="padding-left: 0;">
                                <input type="checkbox" name="f_companyQuality" th:value="${item.paramIdentity}" th:text="${item.paramName}">
                            </label>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label">企业简介：</label>-->
                    <!--<div class="col-sm-8" id="companyDscr">-->

                    <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitDataButton">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/libs/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/libs/echarts-2.2.7/echarts.min.js"></script>
<script type="text/javascript" src="/js/common-model.js"></script>
<script type="text/javascript" src="/js/sky.ajax.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src = "/js/page/stockPoolDetail.js"></script>
</html>