<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
</head>
<body layout:fragment="content">
<style>
    .glyphicon-star{
        color: red;
    }
    .table{
        table-layout: fixed;
    }
</style>
<div class="panel panel-default search-list-panel">
    <div class="panel-heading">查询条件
        <button type="button" class="btn btn-default collapse-button"   data-toggle="collapse" data-parent="#accordion"  href="#collapseBox"><span class="glyphicon glyphicon-chevron-down"></span></button>
        <button type="button" id="searchDataButton" class="btn btn-default btn-sm search-button">查询</button>
    </div>
    <div id="collapseBox" class="panel-collapse collapse in">
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1">编码：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="stockCode">
                    </div>
                    <label class="control-label col-sm-1">名称：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="stockName">
                    </div>
                    <label class="control-label col-sm-1">日期：</label>
                    <div class="input-group date col-sm-4">
                        <input type="text" class="form-control" id="startDay" readonly th:value="${startDay}">
                        <div class="input-group-addon">至</div>
                        <input type="text" class="form-control" id="endDay" readonly th:value="${endDay}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="toolbar" class="btn-group">
</div>
<table id="tableList" class="table"></table>


</body>
<th:block layout:fragment = "bodyAssets">
    <script type="text/javascript" src = "/js/page/stockCompanyNoticeList.js" th:src="@{/js/page/stockCompanyNoticeList.js}"></script>
</th:block>
</html>