<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
</head>
<body layout:fragment="content">
<style type="text/css">
    .form-title{
        background-color: #575e63;
        color: white;
        text-align: center;
        border-color: #33373d;
        padding: 8px;
        /*margin-left: 60px;*/
    }
    .form-input-show{
        padding-top: 7px;
        border-bottom: 1px dashed #000;
    }
</style>
<div class="container">
    <input type="hidden" class="form-control" id="id" th:value="${id}">
    <input type="hidden" class="form-control" id="a_stockCode" th:value="${stockCode}">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#companyBaseInfo" data-toggle="tab">基本信息</a></li>
        <li><a href="#companyProduct" data-toggle="tab">经营分析</a></li>
        <li><a href="#companyFinance" data-toggle="tab">财务分析</a></li>
    </ul>
    <div id="myTabContent" class="tab-content" style="padding-top: 15px;">
        <div class="tab-pane fade in active" id="companyBaseInfo">
            <form id="formSearch" class="form-horizontal">
                <div class="alert alert-info form-title">企业信息</div>
                <div class="form-group" style="margin-right: 8px;margin-left: 8px;">
                    <label class="control-label col-sm-2">股票编码：</label>
                    <div class="col-sm-2 form-input-show" id="stockCode"></div>
                    <label class="control-label col-sm-2">股票名称：</label>
                    <div class="col-sm-2 form-input-show" id="stockName"></div>
                    <label class="control-label col-sm-2">市场行业：</label>
                    <div class="col-sm-2 form-input-show" id="stockSector"></div>
                </div>
                <div class="form-group" style="margin-right: 8px;margin-left: 8px;">
                    <label class="control-label col-sm-2">上市时间：</label>
                    <div class="col-sm-2 form-input-show" id="publishDate"></div>
                    <label class="control-label col-sm-2">注册资本：</label>
                    <div class="col-sm-2 form-input-show" id="companyRegistMoney"></div>
                    <label class="control-label col-sm-2">发行量：</label>
                    <div class="col-sm-2 form-input-show" id="publishAmount"></div>
                </div>
                <div class="form-group" style="margin-right: 8px;margin-left: 8px;">
                    <label class="control-label col-sm-2">地区：</label>
                    <div class="col-sm-2 form-input-show" id="companyRegion"></div>
                    <label class="control-label col-sm-2">产业行业：</label>
                    <div class="col-sm-6 form-input-show" id="contrySector"></div>
                </div>
                <div class="alert alert-info form-title">产品构成</div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>行业名称</th>
                                <th>收益</th>
                            </tr>
                            </thead>
                            <tbody id="stockSectorBox">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>产品名称</th>
                                <th>收益</th>
                            </tr>
                            </thead>
                            <tbody id="stockProductBox">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>地区名称</th>
                                <th>收益</th>
                            </tr>
                            </thead>
                            <tbody id="stockRegionBox">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-info form-title">企业分析</div>
                <div class="form-group" style="margin-right: 8px;margin-left: 8px;">
                    <label class="control-label col-sm-2">经营范围：</label>
                    <div class="col-sm-10" id="businessScope"></div>
                    <label class="control-label col-sm-2">影响因素：</label>
                    <div class="col-sm-10" id="subjectMatter"></div>
                    <label class="control-label col-sm-2">因素分析：</label>
                    <div class="col-sm-10" id="analyseBox"></div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="companyProduct">
            <div class="panel panel-default search-list-panel">
                <div class="panel-heading">
                    经营构成
                </div>
                <div class="panel-body">
                    <div id="companyProductPie" style="width:1100px;height:400px;"></div>
                </div>
            </div>
            <div class="panel panel-default search-list-panel">
                <div class="panel-heading">
                    经营趋势
                </div>
                <div class="panel-body">
                    <div id="companyProductBar" style="width:1100px;height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="companyFinance">
            <div class="panel panel-default">
                <div class="panel-heading">
                    不带 title 的面板标题
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block layout:fragment = "bodyAssets">
    <script type="text/javascript" src = "/js/page/stockCompanyStatictis.js" th:src="@{/js/page/stockCompanyStatictis.js}"></script>
</th:block>
</html>