<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
</head>
<body layout:fragment="content">
<div class="row">
    <div class="col-md-2">
        <div id="tree"></div>
    </div>
    <div class="col-md-7">
        <table id="tableList"></table>
    </div>
    <div class="col-md-3">
        <div id="tree2"></div>
    </div>
</div>

</body>
<th:block layout:fragment = "bodyAssets">
    <script type="text/javascript" src = "/js/page/stockPoolList.js" th:src="@{/js/page/stockPoolList.js}"></script>
</th:block>
</html>