<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/libs/select2/css/select2.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body style="padding: 20px;">
<input type="hidden" id="stock_code" th:value="${stock_code}">
<input type="hidden" id="stockCode" th:value="${stockCode}">
<input type="hidden" id="stockName" th:value="${stockName}">
<input type="hidden" id="firstSector" th:value="${firstSector}">
<input type="hidden" id="secondSector" th:value="${secondSector}">
<input type="hidden" id="thirdSecotor" th:value="${thirdSecotor}">
<input type="hidden" id="forthSector" th:value="${forthSector}">
<input type="hidden" id="firstHot" th:value="${firstHot}">
<input type="hidden" id="secondHot" th:value="${secondHot}">
<input type="hidden" id="thirdHot" th:value="${thirdHot}">
<input type="hidden" id="forthHot" th:value="${forthHot}">
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">
            汇总分析
        </a>
    </li>
    <li><a href="#profit" data-toggle="tab">利润分析</a></li>
    <li><a href="#asset" data-toggle="tab">资产分析</a></li>
    <li><a href="#flow" data-toggle="tab">流动性分析</a></li>
    <li><a href="#cycle" data-toggle="tab">周期分析</a></li>
    <button type="button" class="btn btn-primary" id="backButton" style="float: right;">返回</button>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <div class="panel panel-default search-list-panel"  style="margin-top: 20px;margin-bottom: 20px;">
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-bordered" style="margin-bottom:0px;">
                        <tr>
                            <td style="width: 10%;">利润总评分</td>
                            <td id="total_profit_score"></td>
                            <td style="width: 10%;">利润增长评分</td>
                            <td id="profit_grow_score"></td>
                            <td style="width: 10%;">利润归属评分</td>
                            <td id="profit_belong_score"></td>
                            <td style="width: 10%;">利润划出评分</td>
                            <td id="profit_other_score"></td>
                        </tr>
                        <tr>
                            <td>利润总评级</td>
                            <td id="total_profit_levle" style="color: red"></td>
                            <td>利润增长评级</td>
                            <td id="profit_grow_levle" style="color: red"></td>
                            <td>利润归属评级</td>
                            <td id="profit_belong_levle" style="color: red"></td>
                            <td>利润划出评级</td>
                            <td id="profit_other_levle" style="color: red"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="mainProfit" style="width:100%;height:400px;"></div>

        <div class="panel panel-default search-list-panel"  style="margin-top: 20px;margin-bottom: 20px;">
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-bordered" style="margin-bottom:0px;">
                        <tr>
                            <td style="width: 10%;">资产总评分</td>
                            <td id="total_asset_score"></td>
                            <td style="width: 10%;">资产增长评分</td>
                            <td id="asset_grow_score"></td>
                            <td style="width: 10%;">资产负债评分</td>
                            <td id="asset_debt_score"></td>
                            <td style="width: 10%;">资产成分评分</td>
                            <td id="asset_component_score"></td>
                        </tr>
                        <tr>
                            <td>资产总评级</td>
                            <td id="total_asset_levle" style="color: red"></td>
                            <td>资产增长评级</td>
                            <td id="asset_grow_levle" style="color: red"></td>
                            <td>资产负债评级</td>
                            <td id="asset_debt_levle" style="color: red"></td>
                            <td>资产成分评级</td>
                            <td id="asset_component_levle" style="color: red"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="mainAsset" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="profit">
        <div id="profitGrowMain" style="width:100%;height:400px;"></div>
        <div id="profitSeasonMain" style="width:100%;height:400px;"></div>
        <div id="profitBelongMain" style="width:100%;height:400px;"></div>
        <div id="profitOperateRelation" style="width:100%;height:400px;"></div>
        <div id="profitGrowRate" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="asset">
        <div id="assetGrowMain" style="width:100%;height:400px;"></div>
        <div id="assetDebtRate" style="width:100%;height:400px;"></div>
        <div id="flowAssetRate" style="width:100%;height:400px;"></div>

        <div id="flowAssetComponent" style="width:100%;height:400px;"></div>
        <div id="unflowAssetComponent" style="width:100%;height:400px;"></div>

        <div id="flowDetbComponent" style="width:100%;height:400px;"></div>
        <div id="unflowDetbComponent" style="width:100%;height:400px;"></div>
    </div>
    <div class="tab-pane fade" id="flow">
        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
        </p>
    </div>
    <div class="tab-pane fade" id="cycle">
        <input id="static_date" type="hidden" value="2015-01-01">
        <div id="companyMonth" style="width:100%;height:400px;"></div>
        <div id="companyWeek" style="width:100%;height:400px;"></div>
        <div id="companyDay" style="width:100%;height:400px;"></div>
    </div>
</div>

</body>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="/libs/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/libs/echarts-2.2.7/echarts.min.js"></script>
<script type="text/javascript" src="/js/common-model.js"></script>
<script type="text/javascript" src="/js/sky.ajax.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src = "/js/page/stockCompanyFinancial.js"></script>
</html>